* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  background: #faf9f7;
  color: #222222;
}

html body .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

html [class*="col-"] {
  padding-left: 25px;
  padding-right: 25px;
}

.row:after,
.row:before {
  display: inline-block !important;
}

body a {
  cursor: pointer;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}

button,
input,
textarea,
button:focus {
  outline: none;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.open-menu {
  overflow: hidden;
}

.buttons {
  color: #ffffff;
  font-size: 0.875em;
  background: #1bb8eb;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.buttons:hover,
.buttons:focus {
  color: white;
  background: #009cce;
}

.buttons.btn__all {
  background: white;
  color: #1bb8eb;
}

.buttons.btn__all:hover,
.buttons.btn__all:focus {
  background: white;
  color: #009cce;
}

.buttons.btn__loe__o {
  background: transparent;
  color: #1ab5e8;
  border: 2px solid #1ab5e8;
}

.buttons.btn__loe__o:hover,
.buttons.btn__loe__o:focus {
  background: #1ab5e8;
  color: white;
}

.buttons.btn__add {
  background: #ec521d;
  color: white;
}

.buttons.btn__add:hover,
.buttons.btn__add:focus {
  background: #da4411;
  color: white;
}

.buttons.btn__success {
  background: #5fc900;
  color: white;
  border: 2px solid #5fc900;
}

.buttons.btn__success:hover,
.buttons.btn__success:focus {
  background: #79e616;
  color: white;
  border: 2px solid #79e616;
}

.buttons.btn__success-o {
  background: white;
  color: #5fc900;
  border: 2px solid #e4e4e4;
}

.buttons.btn__success-o:hover,
.buttons.btn__success-o:focus {
  background: #79e616;
  color: white;
  border: 2px solid #79e616;
}

body .row {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .row.no-flex {
  display: block;
}

body .row.flex {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body .row.flex.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .row.flex .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*header*/

body header {
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;
  z-index: 9;
}

body header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px 40px;
}

body header .header__top .header__logo {
  width: 100%;
  max-width: 260px;
  margin-right: 70px;
  position: relative;
  z-index: 999999;
}

body header .header__top__inner {
  width: calc(100% - 330px);
}

body header .header__top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .header__top__wrapper.active {
  left: 0;
}

body header .header__top .user__info {
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

body header .header__top .user__info__name {
  font-size: 0.875em;
  margin-right: 23px;
  color: #555555;
}

body header .header__top .user__info__xp {
  display: inline-block;
  font-size: 0.75em;
  color: white;
  font-weight: bold;
  padding: 3px 6px;
  position: relative;
  background: #f9ca00;
}

body header .header__top .user__info__xp:before {
  display: block;
  position: absolute;
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #f9ca00;
}

body header .header__top .top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 20px;
}

body header .header__top .top__menu li {
  margin-left: 35px;
}

body header .header__top .top__menu li .top__menu__link {
  padding: 3px 0;
  color: #9d9d9d;
  font-size: 0.8125em;
  background: transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .header__top .top__menu li .top__menu__link:hover,
body header .header__top .top__menu li .top__menu__link:focus {
  color: #222222;
}

body header .header__top__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .header__top__btns .form__search {
  width: 65%;
  margin-right: 5%;
  background: white;
  border-bottom: 2px solid #e4e4e4;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(173, 173, 173, 0.16);
  box-shadow: 1px 1px 7px 0px rgba(173, 173, 173, 0.16);
  position: relative;
  z-index: 9999;
}

body header .header__top__btns .form__search input[type="text"] {
  border: 0;
  border-radius: 0;
  background: transparent;
  font-size: 1.0625em;
  color: #555555;
  display: block;
  width: 100%;
  margin: 0;
  padding: 14px 90px 14px 25px;
}

body header .header__top__btns .form__search input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
  color: #c2c2c2;
}

body header .header__top__btns .form__search button[type="submit"] {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 84px;
  border: 0;
  background: transparent;
}

body header .header__top__btns .form__search button[type="submit"] img {
  width: 25px;
}

body header .header__top__btns .form__search__inner {
  position: absolute;
  top: 100%;
  background: white;
  z-index: 99;
  width: 100%;
  display: none;
  padding: 0 0 15px 0;
  -webkit-box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.07);
  border-top: 2px solid #e4e4e4;
}

body header .header__top__btns .form__search__inner.active {
  display: block;
}

body header .header__top__btns .form__search__inner ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body header .header__top__btns .form__search__inner ul li {
  margin: 5px 10px;
}

body header .header__top__btns .form__search__item {
  display: block;
  width: 100%;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .header__top__btns .form__search__item:hover,
body header .header__top__btns .form__search__item:focus {
  border: 1px solid  #979797;
}

body header .header__top__btns .form__search__item .product__title {
  font-size: 1.25em;
  color: #222222;
  line-height: 1.2;
}

body header .header__top__btns .form__search__item__info {
  width: calc(100% - 83px);
}

body header .header__top__btns .form__search__item__image {
  width: 68px;
  position: relative;
  margin-left: 15px;
}

body header .header__top__btns .form__search__item__image .product__rating__value {
  position: absolute;
  font-weight: bold;
  right: -15px;
  bottom: -5px;
}

body header .header__top__btns .form__search__link {
  display: block;
  text-align: center;
  padding: 10px 15px 15px;
  text-transform: uppercase;
  color: #c4c4c4;
  font-size: 0.8125em;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .header__top__btns .form__search__link:hover,
body header .header__top__btns .form__search__link:focus {
  color: #222222;
  font-weight: bold;
}

body header .header__top .users__btn__mobile {
  display: none;
}

body header .header__top__users__btn {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .header__top__users__btn .buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 48%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

body header .wrap__menu {
  position: static;
  background: #565550;
}

body header .wrap__menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

body header .wrap__menu__inner {
  width: 280px;
}

body header .wrap__menu__inner .menu__link__koik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ec521d;
  color: white;
  padding: 15px 20px;
  font-weight: normal;
  font-size: 0.875em;
  position: relative;
}

body header .wrap__menu__inner .menu__link__koik.active:after {
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 2px;
}

body header .wrap__menu__inner .menu__link__koik .menu__link__num {
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 100px;
  right: 14px;
  background: #565550;
  top: -10px;
}

body header .wrap__menu__inner .menu__link__koik:after {
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 20px;
  margin-top: -2px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .wrap__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

body header .wrap__menu .menu .menu__popular {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.875em;
  color: #979797;
  padding: 5px 40px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}

body header .wrap__menu .menu .menu__popular:before {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  height: 10px;
  width: 1px;
  background: #979797;
  content: "";
}

body header .wrap__menu .menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

body header .wrap__menu .menu .nav li a {
  font-size: 0.875em;
  color: inherit;
  text-align: center;
  padding: 5px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 0.875em;
  color: white;
  font-weight: 400;
  height: 100%;
}

body header .wrap__menu .menu .nav li a:hover,
body header .wrap__menu .menu .nav li a:focus {
  background: transparent;
}

body header .burger {
  display: none;
  width: 36px;
  margin: 0;
  padding: 5px;
  position: relative;
  z-index: 999999;
  cursor: pointer;
  margin: -30px 0 20px auto;
  height: 31px;
}

body header .burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #222222;
  margin: 2px 0 2px auto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 36px;
}

body header.active .burger {
  padding-top: 10px;
}

body header.active .burger span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body header.active .burger span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body header.active .burger span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -20px;
}

.menu__category {
  display: none;
  position: absolute;
  width: 100vw;
  min-width: 100vw;
  background: #faf9f7;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #edebe6;
  -webkit-box-shadow: 5px 0 21px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 21px rgba(0, 0, 0, 0.1);
}

.menu__category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.menu__category .product__subtitle {
  text-transform: uppercase;
}

.menu__category__item {
  width: 20%;
  padding: 40px 10px 0;
}

.menu__category__item ul {
  list-style-type: none;
  margin: 10px 0 5px;
  padding: 0;
}

.menu__category__item ul li a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875em;
  padding: 5px 0;
  color: gray;
  display: block;
}

.menu__category__item .read-more {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875em;
  display: block;
  color: #bfbfbf;
}

/*main*/

body main .main_inner {
  background: white;
  -webkit-box-shadow: 0px 5px 18px 6px rgba(148, 148, 148, 0.27);
  box-shadow: 0px 5px 18px 6px rgba(148, 148, 148, 0.27);
  padding: 35px 25px;
}

.banner-1__info {
  display: block;
}

.banner-1__info img {
  width: 100%;
}

/*product*/

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid  #f0f0f0;
  padding: 45px 0;
}

.foorum .product__block:nth-last-child(2) {
  border: 0;
}

.product__image {
  height: 230px;
  width: 230px;
  margin-left: 45px;
}

.product__image.product__image__mobile {
  margin: 20px auto;
  display: block;
}

.product__inner {
  width: calc(100% - 275px);
}

.product__subtitle {
  font-weight: 400;
  font-size: 0.9375em;
  margin: 0 0 3px;
  color: inherit;
  display: block;
}

.product__subtitle.subtitle__red {
  color: #f23900;
}

.product__subtitle.subtitle__success {
  color: #5fc900;
}

.product__subtitle.subtitle__info {
  color: #1bb8eb;
}

.product__title {
  margin: 0 0 15px;
  font-size: 1.75em;
  font-family: "PT Serif", sans-serif;
  font-weight: bold;
  line-height: 1.3;
  display: inline;
  color: inherit;
}

.product__title:hover,
.product__title:focus {
  color: inherit;
}

.product__rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  font-family: inherit;
  font-size: 0.65em;
}

.product__rating__value {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  font-family: 1.2em;
  font-family: "PT Serif", sans-serif;
  margin-right: 5px;
}

.product__rating__value.rating___num__1 {
  background: #9e0000;
}

.product__rating__value.rating___num__2 {
  background: #ca3400;
}

.product__rating__value.rating___num__3 {
  background: #e74100;
}

.product__rating__value.rating___num__4 {
  background: #ea4614;
}

.product__rating__value.rating___num__5 {
  background: #ffae00;
}

.product__rating__value.rating___num__6 {
  background: #ffd200;
}

.product__rating__value.rating___num__7 {
  background: #d1cf00;
}

.product__rating__value.rating___num__8 {
  background: #b6d101;
}

.product__rating__value.rating___num__9 {
  background: #91c701;
}

.product__rating__value.rating___num__10 {
  background: #5fc900;
}

.selected.rating___num__1,
.hover.rating___num__1 {
  background: #9e0000;
}

.selected.rating___num__2,
.hover.rating___num__2 {
  background: #ca3400;
}

.selected.rating___num__3,
.hover.rating___num__3 {
  background: #e74100;
}

.selected.rating___num__4,
.hover.rating___num__4 {
  background: #ea4614;
}

.selected.rating___num__5,
.hover.rating___num__5 {
  background: #ffae00;
}

.selected.rating___num__6,
.hover.rating___num__6 {
  background: #ffd200;
}

.selected.rating___num__7,
.hover.rating___num__7 {
  background: #d1cf00;
}

.selected.rating___num__8,
.hover.rating___num__8 {
  background: #b6d101;
}

.selected.rating___num__9,
.hover.rating___num__9 {
  background: #91c701;
}

.selected.rating___num__10,
.hover.rating___num__10 {
  background: #5fc900;
}

.product__description {
  font-size: 1.125em;
  font-family: "PT Serif", sans-serif;
  margin: 15px 0 0;
  line-height: 1.35;
}

.product__description p {
  line-height: inherit;
  margin: 0 0 15px;
  font-size: inherit;
  font-family: inherit;
}

.product__description p:last-child {
  margin-bottom: 0;
}

.product__footer {
  padding: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.product__footer .product__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product__footer .product__comments span,
.product__footer .product__comments a {
  font-size: 0.875em;
  font-weight: 400;
  color: #979797;
  display: inline-block;
  padding: 0 20px;
}

.product__footer .product__comments span:last-child,
.product__footer .product__comments a:last-child {
  padding-right: 0;
}

.product__footer .product__comments span.separator,
.product__footer .product__comments a.separator {
  padding: 0;
  height: 10px;
  width: 1px;
  background: #979797;
}

.wrap__btn__all {
  text-align: center;
  padding: 60px 0 20px;
}

.btn__all__products {
  display: inline-block;
  width: 100%;
  max-width: 620px;
  border: 2px solid  #e4e4e4;
  padding: 15px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9375em;
  color: #a2a2a2;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn__all__products:hover,
.btn__all__products:focus {
  color: #222222;
}

.home__products {
  padding: 45px 0;
  border-bottom: 1px solid  #f0f0f0;
}

.home__products .home__product__item {
  padding: 0 25px;
}

.home__products .home__product__item__inner {
  color: inherit;
  display: block;
}

.home__products .col-lg-4 {
  border-right: 1px solid #F0F0F0;
}

.home__products .col-lg-4:last-child {
  border: 0;
}

.home__products .col-lg-4:last-child .home__product__item {
  border-bottom: 0;
}

.product__item__img {
  position: relative;
  margin: 15px auto 10px;
}

.product__item__img .product__rating__value {
  width: 50px;
  height: 50px;
  font-size: 1.625em;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 15px;
}

/*block__news*/

.block__news__margin {
  padding: 30px 0;
}

.title__mini {
  color: white;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 30px;
  line-height: 1.2;
}

.title__mini.mini__info {
  background: #1BB8EB;
}

.title__mini.mini__success {
  background: #5fc900;
}

.title__mini.mini__comments {
  background: #4f4e4b;
}

.block__news__inner {
  background: #faf9f7;
  padding: 18px 30px;
  border-bottom: 2px solid #e4e4e4;
}

.block__news__inner__item {
  margin: 0 0 15px;
  padding-right: 10px;
}

.block__news__inner__item:last-child {
  margin: 0;
}

.block__news__inner__item .block__news__author {
  font-size: 0.875em;
  color: #f23900;
  margin-bottom: 2px;
  display: block;
}

.block__news__inner__item .block__news__inner__info {
  color: #222222;
  font-size: 1em;
  display: inline;
  line-height: 1.5;
}

.block__news__inner__item .block__news__inner__cat {
  display: inline-block;
  font-size: 0.875em;
  color: #838383;
}

.block__news__inner__pro {
  display: inline-block;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  font-size: 0.6875em;
  border-radius: 4px;
  padding: 2px 5px;
  background: #ffcf00;
}

.foorum .block__news {
  padding: 30px 0;
}

.foorum__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foorum__nav li:first-child a {
  padding-top: 0;
}

.foorum__nav li:last-child a {
  padding-bottom: 0;
  border-bottom: 0;
}

.foorum__nav li a {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  font-size: 0.9375em;
  color: #5fc900;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.foorum__nav li a:hover,
.foorum__nav li a:focus {
  color: #79e616;
}

.top__products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top__products__list li {
  margin-bottom: 9px;
}

.top__products__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top__products__list__num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #cacaca;
  font-size: 0.875em;
  color: white;
  margin-right: 15px;
}

.top__products__list__text {
  width: calc(100% - 110px);
  margin-right: 10px;
  font-size: 0.875em;
  color: #3e3d3b;
}

.top__products__list__value {
  font-size: 0.875em;
  color: #838383;
}

/*advice*/

.advice {
  margin-left: -21px;
  margin-right: -21px;
  width: calc(100% + 42px);
  padding-left: 21px;
  padding-right: 21px;
  overflow: hidden;
  margin-bottom: 20px;
}

.advice .title__mini {
  padding: 10px 30px;
}

.advice .buttons {
  margin-left: 35px;
}

.advice .block__news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advice__item[data-col="2"] .advice__nav {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  min-width: 600px;
}

.owl-item:first-child .advice__item {
  padding-left: 0;
}

.owl-item:last-child .advice__item {
  border: 0;
}

.advice__item {
  border-right: 1px solid #e8e8e8;
  padding: 0 40px;
}

.advice__item .advice__subtitle {
  text-transform: uppercase;
  margin: 8px 0;
  color: #1bb8eb;
  font-size: 0.875em;
}

.advice__item .advice__nav {
  list-style-type: none;
  margin: 0 0 25px;
  padding: 0;
}

.advice__item .advice__nav li a {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 1.175em;
  font-family: "PT Serif", sans-serif;
  line-height: 1.6;
  color: #222222;
  white-space: nowrap;
}

.advice__item .advice__nav li a:hover,
.advice__item .advice__nav li a:focus {
  text-decoration: underline;
}

.owl-item {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  vertical-align: top;
}

.owl-item.advice:last-child {
  border: 0;
}

.owl-stage-outer {
  overflow: hidden;
}

.owl-loaded.owl-drag {
  position: relative;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-prev,
.owl-next {
  font-size: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  border: 0;
  border-radius: 50%;
  z-index: 9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
  visibility: visible;
}

.owl-prev:hover,
.owl-prev:focus,
.owl-next:hover,
.owl-next:focus {
  border: 1px solid rgba(158, 158, 158, 0.2);
}

.owl-prev:before,
.owl-next:before {
  position: absolute;
  content: "";
  border: solid #EC521D;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
  left: 50%;
}

.owl-prev.disabled,
.owl-next.disabled {
  visibility: hidden;
}

.owl-prev {
  left: -21px;
}

.owl-next {
  right: 34%;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  right: -21px;
}

/*product__video*/

.product__video {
  padding: 45px 0 55px;
  border-bottom: 1px solid #f0f0f0;
}

.product__video__title__inner {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product__video__title__inner .product__title {
  margin: 0 20px 0 0;
}

.product__video__wrap {
  background: #faf9f7;
}

.product__video__wrap__inner {
  max-width: 710px;
  margin: 0 auto;
}

.product__video__inner {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.product__video__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*footer*/

footer {
  padding: 35px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
}

.footer__inner .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__inner .footer__menu li a {
  display: block;
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 5px 15px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer__inner .footer__menu li a:hover,
.footer__inner .footer__menu li a:focus {
  color: #222222;
}

.footer__inner .footer__socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__inner .footer__socio a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.875em;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #a2a2a2;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.footer__inner .footer__socio a:first-child {
  margin-left: 0;
}

.footer__inner .footer__socio a:hover,
.footer__inner .footer__socio a:focus {
  color: #222222;
}

.footer__inner .footer__socio a img {
  margin-right: 10px;
}

/*login page*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
body textarea {
  display: block;
  width: 100%;
  background: #f4f4f4;
  color: #555555;
  font-size: 1em;
  padding: 15px 25px;
  margin: 0 0 10px;
  border: 0;
  border-bottom: 2px solid #e0e0e0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #b2b2b2;
}

body textarea {
  resize: none;
  min-height: 150px;
  line-height: 1.3;
}

input[type="submit"] {
  border: 0;
  display: block;
  width: 100%;
  padding: 15px;
  margin: 30px 0 27px;
  font-size: 0.9375em;
}

.login {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 620px;
}

.login__title {
  margin: 0 0 40px;
  font-size: 1.75em;
  font-weight: bold;
}

.login .wrap__input__password {
  position: relative;
}

.login .wrap__input__password a {
  position: absolute;
  top: 48%;
  right: 25px;
  color: #565550;
  font-size: 0.9375em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login .wrap__input__password input {
  padding-right: 160px;
}

.login .wrap__input__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login .wrap__input__color input {
  width: calc(100% - 61px);
}

.login .wrap__input__color span {
  display: block;
  width: 51px;
  height: 51px;
  margin-left: 10px;
  background: #5fc900;
  border: 1px solid  #e1e1e1;
}

.login__socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login__socio__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login__socio__subtitle .line {
  display: block;
  background: #a2a2a2;
  height: 1px;
  width: 100%;
}

.login__socio__subtitle__inner {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0 30px;
  color: #a2a2a2;
  font-size: 0.9375em;
  text-align: center;
  font-style: italic;
}

.login__socio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 1px solid #979797;
}

.login__socio__item img {
  max-width: 60px;
  max-height: 60px;
}

.login__socio__item__full {
  border: 0;
}

.login__socio__item__full img {
  max-width: 100%;
  max-height: 100%;
}

/*product page*/

.prod__page .breadcrumb {
  background: transparent;
  padding: 0 0 20px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 15px;
}

.prod__page .breadcrumb li {
  color: #595959;
  font-size: 0.9375em;
  padding-right: 8px;
}

.prod__page .breadcrumb li:first-child a {
  padding-left: 0;
}

.prod__page .breadcrumb li a {
  color: inherit;
  font-size: inherit;
  display: inline-block;
  padding: 0 8px 0 0;
}

.prod__page .breadcrumb li:last-child {
  color: #f23900;
}

.prod__page .breadcrumb li:before {
  display: none;
}

.prod__page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 25px;
}

.prod__page__title__info {
  color: #9d9d9d;
  font-size: 0.875em;
  display: inline-block;
  margin-right: 10px;
}

.prod__page__title__name {
  color: #696969;
  font-weight: bold;
  font-size: 1.125em;
  margin-right: 5px;
  font-family: "PT Serif", sans-serif;
}

.prod__page__title__name:hover,
.prod__page__title__name:focus {
  color: #696969;
}

.prod__block .product__title {
  font-size: 2.25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.prod__block .product__block {
  padding: 5px;
  background: #faf9f7;
  margin-bottom: 20px;
  border: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.prod__block .product__inner {
  padding: 25px 15px 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.prod__block .product__description {
  font-size: 1em;
  color: #454545;
  overflow: hidden;
  line-height: 1.4;
  font-family: "PT Serif", sans-serif;
  margin: 0;
  position: relative;
}

.prod__block .product__description.closed {
  overflow: hidden;
  max-height: 7em;
  overflow: hidden;
  position: relative;
}

.prod__block .product__description.closed:after {
  content: "";
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 244, 240, 0)), to(#faf9f7));
  background: -o-linear-gradient(top, rgba(245, 244, 240, 0) 0%, #faf9f7 100%);
  background: linear-gradient(to bottom, rgba(245, 244, 240, 0) 0%, #faf9f7 100%);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.prod__block .product__image {
  margin: 0 auto;
  background: white;
  height: 100%;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.prod__block__name {
  color: #f23900;
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 1.375em;
  font-family: "PT Serif", sans-serif;
}

.prod__block__company {
  color: #454545;
  margin: 0 0 20px;
  font-size: 0.9375em;
  font-weight: bold;
  width: 100%;
}

.prod__block__rating {
  padding: 35px 0;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.prod__block__rating__title {
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875em;
  margin: 0 0 20px;
}

.prod__block__date {
  display: block;
  font-size: 0.875em;
  margin-top: 5px;
  color: #9d9d9d;
}

.prod__block__like__item {
  font-weight: bold;
  font-size: 1.125em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}

.prod__block__like__item span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
}

.prod__block__like__item span img {
  width: 18px;
}

.prod__block__like__item.likes {
  color: #5fc900;
}

.prod__block__like__item.likes span {
  background: #5fc900;
}

.prod__block__like__item.dizlikes {
  color: #f23900;
}

.prod__block__like__item.dizlikes span {
  background: #f23900;
}

.prod__block__like__social {
  color: #2f2f2f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
  margin-left: 40px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}

.prod__block__like__social:hover,
.prod__block__like__social:focus {
  color: #2f2f2f;
}

.prod__block__like__social:before {
  display: block;
  position: absolute;
  left: -30px;
  content: "";
  width: 1px;
  background: #f0f0f0;
  height: 30px;
  top: 0;
}

.prod__block__view {
  margin: 0 0 50px;
  padding-top: 65px;
}

.prod__block__view__carousel {
  max-width: 800px;
  margin: 0 auto 70px;
}

.prod__block__view__carousel__item {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}

.prod__block__view__carousel__item a {
  color: #9d9d9d;
  font-style: italic;
  font-size: 0.875em;
  display: block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.prod__block__view__carousel__item a:hover,
.prod__block__view__carousel__item a:focus {
  color: #9d9d9d;
}

.prod__block__view .owl-item.active + .active .prod__block__view__carousel__item {
  text-align: right;
  width: 100%;
}

.prod__block__view .owl-prev,
.prod__block__view .owl-next {
  width: auto;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: -30px;
  border: 0;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  background: transparent;
  border-radius: 0;
  z-index: 9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: .875em;
  color: #1ab5e8;
}

.prod__block__view .owl-prev:before,
.prod__block__view .owl-next:before {
  display: none;
}

.prod__block__view .owl-prev span,
.prod__block__view .owl-next span {
  width: 22px;
  height: 22px;
  background: #1ab3e5;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

.prod__block__view .owl-prev span:before,
.prod__block__view .owl-next span:before {
  position: absolute;
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
  left: 52%;
}

.prod__block__view .owl-prev {
  left: 0;
  padding-left: 35px;
}

.prod__block__view .owl-prev span {
  left: 0;
}

.prod__block__view .owl-next {
  right: 0;
  padding-right: 35px;
}

.prod__block__view .owl-next span {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.prod__block__advertising {
  display: block;
  background: #faf9f7;
  font-family: "PT Serif", sans-serif;
  font-size: 1.625em;
  font-weight: bold;
  color: #9d9d9d;
  text-align: center;
  padding: 40px 10px;
}

.prod__block__advertising:hover,
.prod__block__advertising:focus {
  color: #9d9d9d;
}

.prod__block__advertising span {
  color: #5fc900;
  font-family: inherit;
}

.prod__block__comments .prod__page__title__info {
  margin-right: 20px;
}

.prod__block__comments__title {
  font-size: 1.625em;
  font-family: "PT Serif", sans-serif;
  font-weight: bold;
  color: #222222;
  margin: 0 0 40px;
  padding-bottom: 25px;
  border-bottom: 3px solid #f0f0f0;
}

.prod__block__comments__title sup {
  color: #f33800;
  font-weight: bold;
  font-size: .9em;
}

.prod__block__comments__item {
  margin-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}

.prod__block__comments__item__title {
  margin-bottom: 25px;
}

.prod__block__comments__item__info p {
  margin: 0 0 24px;
  color: #222222;
  font-family: "PT Serif", sans-serif;
  font-size: 1.1875em;
  line-height: 1.3;
}

.prod__info {
  padding: 0 0 35px;
  border-bottom: 1px solid #f0f0f0;
}

.prod__info p {
  color: #222222;
  font-family: "PT Serif", sans-serif;
  font-size: 1.1875em;
  line-height: 1.3;
  margin: 0 0 24px;
}

.prod__forms {
  padding: 10px 0 0;
}

.prod__forms__title {
  font-family: "PT Serif", sans-serif;
  color: #222222;
  font-size: 1.625em;
  margin: 0 0 30px;
  font-weight: bold;
}

.prod__forms form {
  background: #faf9f7;
  padding: 45px 50px;
  margin-bottom: 65px;
}

.prod__forms form:last-child {
  margin: 0;
}

.prod__forms form input,
.prod__forms form textarea {
  background: white;
  border: 1px solid #ececec;
  margin-bottom: 15px;
}

.prod__forms form input[type="submit"] {
  padding: 15px 30px;
  margin: 10px 0 0;
  width: auto;
  display: inline-block;
}

.prod__forms__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.prod__forms__rating__inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.prod__forms__rating .rating___num__1:hover,
.prod__forms__rating .rating___num__1:focus {
  background: #9e0000;
}

.prod__forms__rating .rating___num__2:hover,
.prod__forms__rating .rating___num__2:focus {
  background: #ca3400;
}

.prod__forms__rating .rating___num__3:hover,
.prod__forms__rating .rating___num__3:focus {
  background: #e74100;
}

.prod__forms__rating .rating___num__4:hover,
.prod__forms__rating .rating___num__4:focus {
  background: #ea4614;
}

.prod__forms__rating .rating___num__5:hover,
.prod__forms__rating .rating___num__5:focus {
  background: #ffae00;
}

.prod__forms__rating .rating___num__6:hover,
.prod__forms__rating .rating___num__6:focus {
  background: #ffd200;
}

.prod__forms__rating .rating___num__7:hover,
.prod__forms__rating .rating___num__7:focus {
  background: #d1cf00;
}

.prod__forms__rating .rating___num__8:hover,
.prod__forms__rating .rating___num__8:focus {
  background: #b6d101;
}

.prod__forms__rating .rating___num__9:hover,
.prod__forms__rating .rating___num__9:focus {
  background: #91c701;
}

.prod__forms__rating .rating___num__10:hover,
.prod__forms__rating .rating___num__10:focus {
  background: #5fc900;
}

.prod__forms label {
  display: inline-block;
  margin: 0 18px 0 0;
  color: #999999;
  font-size: 0.875em;
}

.prod__forms__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
}

.prod__forms__footer input.buttons.btn__success {
  margin: 0;
}

.prod__forms__headlamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.prod__forms__headlamp .wrap__input__headlamp input {
  margin-bottom: 0;
  min-width: 335px;
}

.prod__forms__headlamp__color {
  display: block;
  width: 40px;
  height: 40px;
  background: #1bb8eb;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 5px;
}

.rating___num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-family: "PT Serif", sans-serif;
  font-size: 0.9375em;
  background: #c3c3c3;
  border-radius: 50%;
  margin-right: 3px;
  font-weight: bold;
  line-height: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rating___num:hover,
.rating___num:focus {
  color: white;
  background: #afaaaa;
}

body .nice-select {
  height: 100%;
  float: none;
  font-size: 0.875em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0;
}

.prod__add .buttons {
  display: block;
  width: 100%;
  text-align: center;
  padding: 14px 10px;
  margin: 0 0 10px;
}

.prod__add .prod__forms__rating {
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.prod__add__rating {
  text-align: center;
  margin: 0 0 30px;
  padding-top: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.prod__add__rating__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 15px;
}

.prod__add__rating__title .line {
  height: 1px;
  background: #f0f0f0;
  display: inline-block;
  width: 20%;
}

.prod__add__rating__inner {
  text-transform: uppercase;
  font-size: 0.875em;
  color: #999999;
  font-weight: bold;
  white-space: nowrap;
}

.prod__add .nice-select {
  height: 100%;
  float: none;
  background: white;
  color: #5fc900;
  border: 2px solid #e4e4e4;
  font-size: 0.875em;
  padding: 14px 15px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center !important;
  border-radius: 0;
  margin-bottom: 10px;
}

.prod__add .nice-select.open,
.prod__add .nice-select:hover,
.prod__add .nice-select:focus {
  border: 2px solid #e4e4e4;
}

.prod__add .nice-select:after {
  margin: 0;
  border-bottom: 2px solid #5fc900;
  border-right: 2px solid #5fc900;
  height: 0;
  width: 0;
  padding: 3px;
  right: 35px;
  top: 42%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
}

.prod__add .nice-select.open:after {
  top: 50%;
}

.prod__add .nice-select .list {
  width: 100%;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
  border-radius: 0;
  padding: 2px 25px 5px;
}

.prod__add .nice-select .list li {
  border-radius: 0;
  background: transparent;
  font-size: 0.9375em;
  padding: 15px 15px;
  border-bottom: 1px solid #e0e0e0;
  min-height: auto;
  line-height: inherit;
}

.prod__add .nice-select .list li:hover {
  color: #79e616;
}

.prod__add .nice-select .list li:first-child {
  display: none;
}

.prod__add .nice-select .list li:last-child {
  border: 0;
}

.prod__add .nice-select .list li.selected {
  background: transparent;
  font-weight: normal;
}

.prod__add .nice-select .list li.selected:hover,
.prod__add .nice-select .list li.selected:focus {
  background: transparent;
}

.related__product .product__title {
  font-size: 1.125em;
  color: #222222;
}

.related__product .product__title:hover,
.related__product .product__title:focus {
  color: #222222;
}

.related__product .home__product__item {
  padding-bottom: 10px;
}

/*block-serach *** otsing */

.block-search {
  margin: 5px 0 0;
}

.block-search__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 30px 0;
  border-bottom: 3px solid #f0f0f0;
}

.block-search__title__name {
  color: #222222;
  font-family: "PT Serif", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
}

.block-search__type .nice-select {
  border-radius: 0;
  border: 0;
  color: #999999;
  font-size: 0.875em;
  font-weight: bold;
  padding: 5px 35px 5px 0;
  height: 100%;
  line-height: 1.2;
  text-transform: uppercase;
  min-width: 160px;
  width: 100%;
  background: transparent;
}

.block-search__type .nice-select .list {
  width: 100%;
}

.block-search__type .nice-select:after {
  margin: 0;
  border-bottom: 2px solid #999999;
  border-right: 2px solid #999999;
  height: 0;
  width: 0;
  padding: 3px;
  right: 5px;
  top: 36%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
}

.block-search__type .nice-select.open:after {
  top: 50%;
}

.block-search__list {
  margin: 0;
  padding: 0 0 0 20px;
}

.block-search__list li {
  color: #bdbdbd;
  font-size: 1.125em;
  padding: 14px 0;
  position: relative;
}

.block-search__list li:before {
  display: block;
  position: absolute;
  bottom: 0;
  background: #f0f0f0;
  width: calc(100% + 20px);
  left: -20px;
  bottom: 0;
  height: 1px;
  content: "";
}

.block-search__list li:last-child:before {
  display: none;
}

.block-search__list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 10px;
}

.block-search__list__name {
  font-family: "PT Serif", sans-serif;
  font-weight: bold;
  font-size: 1.06em;
  color: #222222;
}

.block-search__list__num {
  width: 100px;
  display: inline-block;
  color: #979797;
  font-size: 0.75em;
  text-align: center;
  padding: 0 5px;
}

.block-search__list .product__rating__value {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.block-search__list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-search__list__like {
  font-size: 0.8em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 60px;
  margin-right: 40px;
}

.block-search__list__like img {
  width: 19px;
  margin-right: 4px;
}

.block-search__list__like.dizlikes img {
  margin-bottom: -5px;
}

/*product__block__user*/

.product__block__user {
  padding: 40px 0 30px;
}

.product__block__user .product__title {
  font-family: "Open Sans", sans-serif;
}

.product__block__user .product__xp {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 20px;
  font-size: bold;
  color: white;
  font-size: 0.52em;
  line-height: 1.2;
  padding: 5px 5px 5px 9px;
  background: #f9ca00;
}

.product__block__user .product__xp:before {
  display: block;
  position: absolute;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #f9ca00;
}

.block__user-info {
  padding: 25px 0;
  border-bottom: 1px solid #f0f0f0;
}

.block__user-info table {
  width: 100%;
}

.block__user-info table tr td {
  padding: 10px 5px 10px 0;
  color: #737373;
  font-size: 1em;
}

.block__user-info table tr td:last-child {
  padding-right: 0;
}

.block__user-info table tr td a {
  color: inherit;
  font-weight: bold;
}

.block__user-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block__user-info__inner img {
  width: 19px;
  margin-right: 4px;
}

.block__user-info__like {
  font-size: 0.9em;
  margin-right: 15px;
}

.block__user-info__like:last-child {
  margin: 0;
}

.block__user-info__like.dizlikes img {
  margin-bottom: -2px;
}

.likes {
  color: #5fc900;
}

.dizlikes {
  color: #eb4613;
}

.block-search__user {
  margin-top: 55px;
  background: #faf9f7;
  padding: 0 30px 15px 35px;
}

/*new-product*/

.new-product {
  padding: 40px 0 0;
  border: 0;
}

.new-product__title {
  font-family: "Open Sans", sans-serif;
  margin: 35px 0  0;
  border-bottom: 1px solid #f0f0f0;
  display: block;
  padding-bottom: 20px;
}

.new-product__subtitle {
  color: #222222;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0 0 20px;
}

.new-product__inner {
  padding: 0 0 40px;
  margin-bottom: 35px;
  border-bottom: 1px solid #f0f0f0;
}

.new-product__inner:nth-child(2) {
  margin: 0;
  border: 0;
  padding: 0;
}

.new-product .wrap__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.new-product .nice-select {
  display: inline-block;
  width: auto;
}

.new-product__label {
  color: #737373;
  font-weight: normal;
  margin: 0 25px 0 0;
  font-size: 1em;
}

.new-product input {
  margin-bottom: 15px;
}

.new-product textarea {
  margin-bottom: 0;
}

.new-product .prod__forms__rating {
  padding-top: 35px;
}

.new-product .product__image {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}

.new-product .product__image__inner {
  background-size: 85px 68px !important;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 230px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.new-product .product__image__subtitle {
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 0.75em;
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.new-product .product__image img {
  width: initial;
  height: initial;
  max-height: 230px;
  max-width: initial;
}

.new-product .wrap__checkbox {
  padding: 5px 0 20px;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.new-product .wrap__checkbox__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 45px;
  color: #737373;
  font-size: 0.9375em;
  min-height: 32px;
}

.new-product .wrap__checkbox__inner:before {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #cdcdcd;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.new-product .wrap__checkbox input[type="checkbox"]:checked + span:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #5fc900;
  content: "";
  left: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.new-product__profile {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.new-product__profile .wrap__label {
  margin-bottom: 15px;
}

.new-product__profile__inner {
  width: 230px;
}

.new-product__profile__inner .product__image {
  margin-left: auto;
}

.new-product__profile .login__socio {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.new-product__profile .login__socio__title {
  padding: 20px 0 15px;
  margin: 0;
}

.new-product__profile .login__socio__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.new-product__profile .login__socio__item {
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
}

.new-product__profile .login__socio__item img {
  max-width: 45px;
  max-height: 45px;
}

.new-product__profile .login__socio__item__full img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 768px) {
  .product__image.product__image__mobile {
    display: none;
  }

  .prod__block__arvustus {
    text-align: right;
  }
}

@media only screen and (max-width: 1439px) {
  html body .container {
    width: 1150px;
  }

  html [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  body .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  body header .header__top {
    padding: 0 15px 30px;
  }

  body header .header__top .header__logo {
    max-width: 230px;
    margin-right: 45px;
  }

  body header .header__top__inner {
    width: calc(100% - 275px);
  }

  body header .header__top .user__info {
    margin-left: 30px;
  }

  body header .header__top .user__info__name {
    margin-right: 18px;
  }

  body header .header__top .top__menu li {
    margin-left: 18px;
  }

  body header .header__top__users__btn {
    width: 35%;
  }

  body header .wrap__menu__inner {
    width: 250px;
  }

  body header .wrap__menu .menu {
    padding-left: 0;
  }

  body header .wrap__menu .menu .nav {
    padding-left: 10px;
  }

  body header .wrap__menu .menu .nav li a {
    padding: 5px 25px;
  }

  .product__block {
    padding: 35px 0;
  }

  .product__image {
    margin-left: 35px;
  }

  .product__footer {
    padding: 20px 0 0;
  }

  .wrap__btn__all {
    padding: 40px 0 20px;
  }

  .home__products {
    padding: 35px 0;
  }

  .home__products .home__product__item {
    padding: 0 15px;
  }

  .block__news__margin {
    padding: 20px 0;
  }

  .title__mini {
    padding: 15px 20px;
  }

  .block__news__inner {
    padding: 18px 20px;
  }

  .block__news__inner__item {
    padding-right: 0;
  }

  .foorum .block__news {
    padding: 25px 0;
  }

  .advice .title__mini {
    padding: 10px 20px;
  }

  .advice .buttons {
    margin-left: 25px;
  }

  .advice__item[data-col="2"] .advice__nav {
    -webkit-column-gap: 20px;
    column-gap: 20px;
    min-width: 450px;
  }

  .advice__item .advice__nav li a {
    font-size: 1.05em;
  }

  .product__video {
    padding: 35px 0 40px;
  }

  .prod__block .product__inner {
    padding: 20px 15px 30px 25px;
  }

  .prod__block .product__image {
    width: 100%;
    max-width: 260px;
  }

  .prod__block__view {
    margin: 0 0 40px;
    padding-top: 60px;
  }

  .prod__block__view__carousel {
    margin: 0 auto 50px;
  }

  .prod__block__advertising {
    font-size: 1.5em;
    padding: 30px 10px;
  }

  .prod__block__comments__title {
    margin: 0 0 30px;
  }

  .prod__block__comments__item {
    margin-bottom: 30px;
  }

  .prod__block__comments__item__info p {
    font-size: 1.125em;
  }

  .prod__info {
    padding: 0 0 20px;
  }

  .prod__info p {
    font-size: 1.125em;
  }

  .prod__forms form {
    margin-bottom: 50px;
    padding: 35px 40px;
  }

  .rating___num {
    width: 21px;
    height: 21px;
    font-size: 0.9em;
  }

  .block-search__user {
    margin-top: 45px;
    padding: 0 25px 15px;
  }

  .new-product {
    padding: 30px 0 0;
  }

  .new-product__title {
    margin: 25px 0 0;
    padding-bottom: 15px;
  }

  .new-product__subtitle {
    margin: 0 0 15px;
  }

  .new-product__inner {
    padding-bottom: 30px;
    margin-bottom: 25px;
  }

  .new-product .prod__forms__rating {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  html body .container {
    width: 960px;
  }

  body header .header__top {
    padding: 0 15px 25px;
  }

  body header .header__top .header__logo {
    max-width: 180px;
    margin-right: 30px;
  }

  body header .header__top__inner {
    width: calc(100% - 210px);
  }

  body header .header__top__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  body header .header__top .user__info {
    margin: 0 0 10px 0;
    width: 100%;
  }

  body header .header__top .top__menu {
    margin: 0 0 25px;
    width: 100%;
  }

  body header .header__top__btns .form__search {
    width: 53%;
  }

  body header .header__top__btns .form__search input[type="text"] {
    font-size: 1em;
    padding: 12px 70px 12px 20px;
  }

  body header .header__top__btns .form__search button[type="submit"] {
    width: 70px;
  }

  body header .header__top__btns .form__search button[type="submit"] img {
    width: 20px;
  }

  body header .header__top__users__btn {
    width: 42%;
  }

  body header .wrap__menu__inner {
    width: 200px;
  }

  body header .wrap__menu .menu .menu__popular {
    padding: 5px 25px;
  }

  body header .wrap__menu .menu .nav {
    padding-left: 0;
  }

  body header .wrap__menu .menu .nav li a {
    padding: 5px 15px;
  }

  body main .main_inner {
    padding: 25px 20px;
  }

  .home__products {
    padding: 20px 0;
  }

  .home__products .home__product__item {
    padding: 20px 15px;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid  #f0f0f0;
  }

  .home__products .col-lg-4 {
    border-right: 0;
  }

  .product__item__img {
    text-align: center;
  }

  .block__news {
    padding: 25px 0 0;
  }

  .block__news__margin {
    padding: 25px 0 15px;
  }

  .foorum .block__news {
    padding: 25px 0 0;
  }

  .product__video {
    padding: 30px 0;
  }

  .prod__block .product__title {
    font-size: 2em;
  }

  .prod__block .product__inner {
    padding: 15px 15px 25px 20px;
  }

  .prod__block__rating {
    padding: 30px 0;
  }

  .prod__block__view {
    margin: 0 0 30px;
  }

  .prod__block__comments__item {
    margin-bottom: 25px;
  }

  .prod__block__comments__item__info p {
    font-size: 1.1em;
    margin: 0 0 18px;
  }

  .prod__info p {
    font-size: 1.1em;
    margin: 0 0 18px;
  }

  .prod__forms {
    margin-bottom: 25px;
  }

  .prod__forms form {
    margin-bottom: 35px;
    padding: 25px 30px;
  }

  .related__product {
    margin: 25px auto 0;
    max-width: 450px;
  }
}

@media only screen and (max-width: 991px) {
  html body .container {
    width: 100%;
  }

  body header {
    padding: 10px 0 0;
  }

  body header .header__top {
    padding: 0 0 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  body header .header__top .header__logo {
    max-width: 160px;
    margin-right: 25px;
  }

  body header .header__top__inner {
    width: 100%;
  }

  body header .header__top__inner__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  body header .header__top__wrapper {
    margin: -17px 0 0;
  }

  body header .header__top .top__menu li {
    margin-left: 17px;
  }

  body header .header__top__btns {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body header .header__top__btns .form__search {
    width: 60%;
    margin-right: 0;
  }

  body header .header__top__btns .form__search__inner ul li {
    margin: 5px;
  }

  body header .header__top__btns .form__search__item {
    padding: 5px 20px;
  }

  body header .header__top__users__btn {
    width: 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  body header .header__top__users__btn .buttons {
    margin-left: 10px;
  }

  body header .wrap__menu .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  body header .wrap__menu__inner {
    width: 100%;
  }

  body header .wrap__menu__inner .menu__link__koik {
    width: 300px;
  }

  body header .wrap__menu .menu {
    position: absolute;
    top: 100%;
    background: white;
    left: 15px;
    width: calc(100vw - 30px);
    padding: 20px 0;
    display: none;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 18px 6px rgba(148, 148, 148, 0.27);
    box-shadow: 0px 5px 18px 6px rgba(148, 148, 148, 0.27);
    border-radius: 0 0 10px 10px;
    min-width: calc(100vw - 30px);
  }

  body header .wrap__menu .menu .menu__popular {
    display: block;
    text-align: center;
    padding: 5px 15px 10px;
    margin-bottom: 10px;
  }

  body header .wrap__menu .menu .menu__popular:before {
    width: 15px;
    height: 1px;
    left: 50%;
    bottom: 0;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  body header .wrap__menu .menu .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  body header .wrap__menu .menu .nav li a {
    color: #17243b;
    display: block;
    text-align: center;
    font-size: 1em;
  }

  .menu__category {
    padding: 0 0 40px 0;
  }

  .menu__category__item {
    padding: 30px 10px 0;
    width: 33%;
  }

  .product__image {
    margin-left: 20px;
  }

  .product__inner {
    width: calc(100% - 250px);
  }

  .product__footer .product__comments span,
  .product__footer .product__comments a {
    padding: 0 15px;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }

  .footer__inner .footer__menu {
    margin-bottom: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .prod__block .product__title {
    font-size: 1.75em;
  }

  .prod__block__view__carousel {
    margin: 0 auto 35px;
  }

  .prod__block__advertising {
    padding: 25px 10px;
  }

  .prod__block__comments__item {
    margin-bottom: 20px;
  }

  .prod__block__comments__item__title {
    margin: 0 0 20px;
  }

  .prod__block__comments__item__info p {
    font-size: 1em;
  }

  .prod__info {
    padding: 0 0 10px;
  }

  .prod__info p {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .prod__forms {
    margin-bottom: 20px;
  }

  .prod__forms__title {
    font-size: 1.5em;
  }

  .prod__forms form {
    padding: 20px;
  }

  .block-search__list__like {
    margin-right: 20px;
  }

  .block__user-info {
    padding: 20px 0 25px;
  }

  .block__user-info table tr td {
    padding: 7px 5px 7px 0;
  }

  .block__user-info table tr td:first-child {
    width: 180px;
  }
}

@media only screen and (max-width: 767px) {
  body header .header__top {
    padding: 0 0 25px;
  }

  body header .header__top__wrapper {
    margin: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    background: white;
    width: 100%;
    padding: 120px 20px 30px;
    z-index: 99999;
    height: 100vh;
  }

  body header .header__top .user__info {
    width: auto;
  }

  body header .header__top .top__menu {
    display: block;
    height: calc(100vh - 290px);
    overflow-y: auto;
  }

  body header .header__top .top__menu li {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }

  body header .header__top .top__menu li .top__menu__link {
    padding: 5px 10;
    font-size: 1.125em;
  }

  body header .header__top__btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  body header .header__top__btns .form__search {
    width: 100%;
  }

  body header .header__top .users__btn__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 45px;
    width: calc(100% - 40px);
  }

  body header .header__top__users__btn {
    width: 100%;
    margin: 15px 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  body header .header__top__users__btn.users__btn__desktop {
    display: none;
  }

  body header .header__top__users__btn .buttons {
    width: 49%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 15px 10px;
  }

  body header .wrap__menu__inner .menu__link__koik {
    width: 100%;
  }

  body header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__category__item {
    width: 50%;
    padding: 25px 7px 0;
  }

  body main > .container {
    padding: 0;
  }

  .product__block {
    padding: 25px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .product__image {
    margin: 0 auto 15px;
    display: none;
    width: 100%;
    height: 350px;
  }

  .product__image.product__image__full {
    display: block;
  }

  .product__inner {
    width: 100%;
  }

  .product__title {
    font-size: 1.4em;
  }

  .product__footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .product__footer .product__comments {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .product__footer .product__comments span,
  .product__footer .product__comments a {
    margin-top: 15px;
    padding-left: 0;
  }

  .product__footer .product__comments span.separator,
  .product__footer .product__comments a.separator {
    margin-right: 15px;
  }

  .wrap__btn__all {
    padding: 20px 0;
  }

  .home__products {
    padding: 10px 0;
  }

  .home__products .home__product__item {
    padding: 20px 0;
  }

  .advice {
    width: calc(100% + 36px);
  }

  .advice .title__mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .advice .buttons {
    margin: 12px 0 0;
    width: auto;
    max-width: 150px;
    text-align: center;
  }

  .advice__item[data-col="2"] .advice__nav {
    min-width: 100%;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .advice__item {
    padding: 0 15px;
  }

  .owl-prev {
    left: -18px;
  }

  .owl-next {
    right: -18px;
  }

  .product__video {
    padding: 20px 0;
  }

  .product__video__title__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .product__video__title__inner .buttons {
    margin-top: 10px;
  }

  footer {
    padding: 30px 0;
  }

  .footer__inner .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__inner .footer__menu li a {
    padding: 8px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  body textarea {
    padding: 14px 18px;
  }

  .login {
    padding: 10px 0 20px;
  }

  .login__title {
    margin-bottom: 25px;
  }

  .login .wrap__input__color span {
    width: 49px;
    height: 49px;
  }

  .login__socio {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .login__socio__item {
    height: 70px;
    width: 70px;
    margin: 0 5px 10px;
  }

  .login__socio__item img {
    max-width: 40px;
    max-height: 40px;
  }

  .login__socio__item__full img {
    max-width: 100%;
    max-height: 100%;
  }

  .prod__page .breadcrumb {
    margin: 0 0 10px;
  }

  .prod__page__title {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .prod__page__title__inner {
    width: 100%;
    margin: 5px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .prod__block .product__title {
    font-size: 1.4em;
    display: inline;
  }

  .prod__block .product__inner {
    padding: 15px 15px 20px;
  }

  .prod__block .product__image {
    max-width: 400px;
    padding: 10px;
  }

  .prod__block__company {
    margin: 0 0 15px;
  }

  .prod__block__rating {
    padding: 20px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .prod__block__rating__title {
    margin: 0 0 14px;
  }

  .prod__block__like {
    margin: 0 0 25px;
  }

  .prod__block__like__social {
    margin-left: 20px;
  }

  .prod__block__like__social:before {
    left: -15px;
  }

  .prod__block__advertising {
    font-size: 1.35em;
    padding: 20px 15px;
  }

  .prod__block__comments__title {
    font-size: 1.5em;
    margin: 0 0 20px;
    padding-bottom: 20px;
  }

  .prod__forms form {
    padding: 15px 15px;
    margin-bottom: 30px;
  }

  .prod__forms form input[type="submit"] {
    padding: 10px 25px;
  }

  .prod__forms__footer {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .prod__forms__headlamp {
    width: 100%;
    margin: 15px 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .prod__forms__headlamp .wrap__input__headlamp {
    width: 100%;
    margin-top: 10px;
  }

  .prod__forms__headlamp .wrap__input__headlamp input {
    width: 100%;
    min-width: 100%;
  }

  .prod__forms__headlamp__color {
    width: 30px;
    height: 30px;
    position: static;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    margin: 10px 0 0 auto;
  }

  .block-search__title {
    padding: 25px 0;
    margin-bottom: 10px;
  }

  .block-search__title__name {
    font-size: 1.5em;
  }

  .block-search__list li {
    font-size: 1em;
    padding: 10px 0;
  }

  .block-search__list__name {
    width: 50%;
  }

  .block-search__list__num {
    width: 80px;
  }

  .block-search__list__like {
    margin-right: 5px;
    min-width: 45px;
  }

  .block-search__user {
    margin-top: 30px;
    padding: 0 10px 15px;
  }

  .new-product {
    padding-bottom: 0;
  }

  .new-product .prod__forms__rating {
    padding-top: 25px;
    margin-bottom: 25px;
  }

  .new-product .product__image {
    margin: 0 auto 45px;
    width: 100%;
    max-width: 440px;
    height: 300px;
  }

  .new-product .product__image__inner {
    width: 100%;
    height: 300px;
  }

  .new-product .product__image img {
    max-height: 300px;
  }

  .new-product__profile__inner {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .new-product__profile .login__socio__title {
    padding: 10px 0 15px;
  }

  .new-product__profile .login__socio__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  body header .header__top .header__logo {
    width: 100%;
    max-width: 200px;
  }
}

@media only screen and (max-width: 479px) {
  body header .header__top__btns .form__search__item .product__title {
    font-size: 1.05em;
  }

  body main .main_inner {
    padding: 25px 15px;
  }

  .login .wrap__input__password {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .login .wrap__input__password a {
    position: static;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .login .wrap__input__color {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .login .wrap__input__color input {
    width: 100%;
  }

  .login .wrap__input__color span {
    width: 35px;
    height: 35px;
  }

  .login__socio__subtitle .line {
    display: none;
  }

  .login__socio__subtitle__inner {
    padding: 0;
    white-space: normal;
  }

  .prod__block__view .owl-prev,
  .prod__block__view .owl-next {
    width: 50%;
    top: -40px;
  }

  .prod__block__view .owl-prev {
    text-align: left;
  }

  .prod__block__view .owl-next {
    text-align: right;
  }

  .prod__block__advertising {
    padding: 15px;
    font-size: 1.25em;
  }

  .prod__block__comments__title sup {
    font-size: 0.75em;
  }

  .prod__forms label {
    display: block;
    margin: 0 0 10px;
  }

  .block-search__title {
    padding: 15px 0;
    margin-bottom: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .block-search__title__name {
    width: 100%;
    margin-bottom: 5px;
  }

  .block-search__list li {
    font-size: 0.9em;
  }

  .block-search__list__inner {
    padding: 0;
  }

  .block-search__list__name {
    font-size: 1em;
  }

  .block-search__list__num {
    width: 70px;
    padding: 0;
  }

  .block__user-info table tr td {
    font-size: 0.875em;
  }

  .block__user-info table tr td:first-child {
    width: 135px;
  }

  .block__user-info__like {
    margin-right: 10px;
  }

  .new-product .prod__forms__rating .prod__forms__rating__inner {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .product__image {
    height: 300px;
  }

  .block__user-info table tr td {
    font-size: 0.785em;
  }

  .block__user-info table tr td:first-child {
    width: 95px;
  }
}

@media only screen and (max-width: 375px) {
  .prod__forms form {
    padding: 15px 8px;
  }
}