* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}
html { 
	body {
		margin: 0;
		padding: 0;
		width: 100%;  
		height: 100%;
		font-size: 16px;
		overflow-x: hidden;
		background: #faf9f7;
		color: #222222;

		.container {
			width: 100%;
			max-width: 1360px;
			margin: 0 auto;
			padding-left: 15px;
			padding-right: 15px;
			
		
			@media only screen and(max-width: 1439px) {
				width: 1150px;
			
			}
			@media only screen and(max-width: 1199px) {
				width: 960px;
			
			}
			@media only screen and(max-width: 991px) {
				width: 100%;
			
			}
		}
	}
	[class*="col-"]{
		padding-left: 25px;
		padding-right: 25px;
		@media only screen and(max-width: 1439px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.row:after,
.row:before {
	display: inline-block!important;
}

body a{
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
input[type="submit"] {
	cursor: pointer;
}
button,
input,
textarea,
button:focus {outline: none}


p {font-size: 1em;  }

img {max-width: 100%}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body.open-menu {
	overflow: hidden;
}
.buttons {
	color: #ffffff;	
	font-size: 0.875em;
	background: #1bb8eb;
	padding: 8px 15px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	transition: 0.3s ease;
	&:hover,
	&:focus {
		color: white;
		background: #009cce;
	}
	&.btn__all {
		background: white;
		color: #1bb8eb;
		&:hover,
		&:focus {
			background: white;
			color: #009cce;
		}
	}
	&.btn__loe__o {
		background: transparent;
		color: #1ab5e8;
		border: 2px solid #1ab5e8;
		&:hover,
		&:focus {
			background: #1ab5e8;
			color: white;
		}
	}



	&.btn__add {
		background: #ec521d;
		color: white;
		&:hover,
		&:focus {
			background: #da4411;
			color: white;
		}
	}
	&.btn__success {
		background: #5fc900;
		color: white;
		border: 2px solid #5fc900;
		&:hover,
		&:focus {
			background: #79e616;
			color: white;
			border: 2px solid #79e616;
		}
	}
	&.btn__success-o {
		background: white;
		color: #5fc900;
		border: 2px solid #e4e4e4;
		&:hover,
		&:focus {
			background: #79e616;
			color: white;
			border: 2px solid #79e616;
		}
	}
}

body .row {
	margin-left: -25px;
	margin-right: -25px;
	display: flex;
	flex-wrap: wrap;

		@media only screen and(max-width: 1439px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		&.no-flex {
			display: block;
		}
	&.flex {
		align-items: initial;
		justify-content: flex-start;
		&.flex-center {
			align-items: center;
		}
		.col-xs-12 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}


/*header*/

body header {
	position: relative; 
	width: 100%;
	padding: 20px 0 0 0;
	z-index: 9;
	@media only screen and(max-width: 991px) {
		padding: 10px 0 0;
	}
	.header__top {
		display: flex;
		padding: 0 25px 40px;
		@media only screen and(max-width: 1439px) {
			padding: 0 15px 30px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 0 15px 25px;
		}
		@media only screen and(max-width: 991px) {
			padding: 0 0 25px;
			flex-wrap: wrap;
		}
		@media only screen and(max-width: 767px) {
			padding: 0 0 25px;
		}
		.header__logo {
			width: 100%;
			max-width: 260px;
			margin-right: 70px;
			position: relative;
			z-index: 999999;
		
			@media only screen and(max-width: 1439px) {
				max-width: 230px;
				margin-right: 45px;
			}
			@media only screen and(max-width: 1199px) {
				max-width: 180px;
				margin-right: 30px;
			}
			@media only screen and(max-width: 991px) {
				max-width: 160px;
				margin-right: 25px;
			}
			@media only screen and(max-width: 500px) {
				width: 100%;
				max-width: 200px;
			}
		}
		&__inner {
			width: calc(100% - 330px);
			@media only screen and(max-width: 1439px) {
				width: calc(100% - 275px);
			}
			@media only screen and(max-width: 1199px) {
				width: calc(100% - 210px);
			}
			@media only screen and(max-width: 991px) {
				width: 100%;
			}
			&__element {
				@media only screen and(max-width: 991px) {
					display: flex;
				}
			}
		}
		&__wrapper {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			transition: 0.3s ease;
			@media only screen and(max-width: 1199px) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}
			@media only screen and(max-width: 991px) {
				margin: -17px 0 0;
			}
			@media only screen and(max-width: 767px) {
				margin: 0;
				justify-content: flex-start;
				flex-direction: column;
				position: absolute;
				top: 0;
				left: -100%;
				background: white;
				width: 100%;
				padding: 120px 20px 30px;
				z-index: 99999;
				height: 100vh;
			}
			&.active {
				left: 0;
			}
		}
		.user__info {
			margin-left: 45px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@media only screen and(max-width: 1439px) {
				margin-left: 30px;
			}
			@media only screen and(max-width: 1199px) {
				margin: 0 0 10px 0;
				width: 100%;
			}
			@media only screen and(max-width: 767px) {
				width: auto;
			}
			&__name {
				font-size: 0.875em;
				margin-right: 23px;
				color: #555555;
				@media only screen and(max-width: 1439px) {
					margin-right: 18px;
				}
			}
			&__xp {
				display: inline-block;
				font-size: 0.75em;
				color: white;
				font-weight: bold;
				padding: 3px 6px;
				position: relative;
				background: #f9ca00;
				&:before {
					display: block;
					position: absolute;
					left: -4px;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					width: 0; 
					height: 0; 
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					border-right: 4px solid #f9ca00;
				}
			}
		}
		.top__menu {
			display: flex;
			justify-content: flex-end;
			margin: 0 0 20px;
			@media only screen and(max-width: 1199px) {
				margin: 0 0 25px;
				width: 100%;
			}
			@media only screen and(max-width: 767px) {
				display: block;
				height: calc(100vh - 290px);
				overflow-y: auto;
			}
			li {
				margin-left: 35px;
				@media only screen and(max-width: 1439px) {
					margin-left: 18px;
				}
				@media only screen and(max-width: 991px) {
					margin-left: 17px;
				}
				@media only screen and(max-width: 767px) {
					display: block;
					width: 100%;
					margin: 0 0 10px;
				}

			
				.top__menu__link {
					padding: 3px 0;
					color: #9d9d9d;
					font-size: 0.8125em;
					background: transparent;
					transition: 0.3s ease;
					@media only screen and(max-width: 767px) {
						padding: 5px 10;
						font-size: 1.125em;
					}
					&:hover,
					&:focus {
						color: #222222;
					}
				}
			}
		}
		&__btns {
			display: flex;
			justify-content: space-between;
			@media only screen and(max-width: 991px) {
				width: 100%;
				align-items: center;
			}
			@media only screen and(max-width: 767px) {
				flex-wrap: wrap;
				justify-content: flex-end;
			}
		
			.form__search {
				width: 65%;
				margin-right: 5%;
				background: white;
				border-bottom: 2px solid #e4e4e4;
				-webkit-box-shadow: 1px 1px 7px 0px rgba(173,173,173,0.16);
				-moz-box-shadow: 1px 1px 7px 0px rgba(173,173,173,0.16);
				box-shadow: 1px 1px 7px 0px rgba(173,173,173,0.16);
				position: relative;
				z-index: 9999;
				@media only screen and(max-width: 1199px) {
					width: 53%;
				}
				@media only screen and(max-width: 991px) {
					width: 60%;
					margin-right: 0;
				}
				@media only screen and(max-width: 767px) {
					width: 100%;
				}
				input[type="text"] {
					border: 0;
					border-radius: 0;
					background: transparent;
					font-size: 1.0625em;
					color: #555555;
					display: block;
					width: 100%;
					margin: 0;
					padding: 14px 90px 14px 25px;
					&::-webkit-input-placeholder {
						font-style: italic;
						color: #c2c2c2;
					}
					@media only screen and(max-width: 1199px) {
						font-size: 1em;
						padding: 12px 70px 12px 20px;
					}
				}
				button[type="submit"] {
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
					width: 84px;
					border: 0;
					background: transparent;
					@media only screen and(max-width: 1199px) {
						width: 70px;
					}
					img {
						width: 25px;
						@media only screen and(max-width: 1199px) {
							width: 20px;
						}
					}
				}
				&__inner {
					position: absolute;
					top: 100%;
					background: white;
					z-index: 99;
					width: 100%;
					display: none;
					padding: 0 0 15px 0;
					box-shadow: 0px 13px 25px rgba(0,0,0,0.07);
					border-top: 2px solid #e4e4e4;
					&.active {
						display: block;
					}
					ul {
						margin: 0;
						padding: 0;
						list-style-type: none;
						li {
							margin: 5px 10px;
							@media only screen and(max-width: 991px) {
								margin: 5px;
							}
						}
					}
				}
				&__item {
					display: block;
					width: 100%;
					padding: 10px 25px; 
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					border: 1px solid transparent;
					transition: 0.3s ease;
					@media only screen and(max-width: 991px) {
						padding: 5px 20px;
					}
					&:hover,
					&:focus {
						border: 1px solid  #979797;
					}
					.product__title {
						font-size: 1.25em;
						color: #222222;
						line-height: 1.2;
						@media only screen and(max-width: 479px) {
							font-size: 1.05em;
						}
					}
					&__info {
						width: calc(100% - 83px);
					}
					&__image {
						width: 68px;
						position: relative;
						margin-left: 15px;
						.product__rating__value {
							position: absolute;
							font-weight: bold;
							right: -15px;
							bottom: -5px;
						}
					}
				}
				&__link {
					display: block;
					text-align: center;
					padding: 10px 15px 15px;
					text-transform: uppercase;
					color: #c4c4c4;
					font-size: 0.8125em;
					transition: 0.3s ease;
					&:hover,
					&:focus {
						color: #222222;
						font-weight: bold;
					}
				}
			}
		}
		.users__btn__mobile {
			display: none;
			@media only screen and(max-width: 767px) {
				display: flex;
				position: absolute;
				bottom: 45px;
				width: calc(100% - 40px);
			}
		}
		&__users__btn {
			width: 30%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media only screen and(max-width: 1439px) {
				width: 35%;
			}
			@media only screen and(max-width: 1199px) {
				width: 42%;
			}
			@media only screen and(max-width: 991px) {
				width: 40%;
				justify-content: flex-end;
			}
			@media only screen and(max-width: 767px) {
				width: 100%;
				margin: 15px 0 0;
				justify-content: space-between;
			}
			&.users__btn__desktop {
				@media only screen and(max-width: 767px) {
					display: none;
				}
			}
			.buttons {
				display: inline-flex;
				align-items: center;
				height: 100%;
				width: 48%;
				justify-content: center;
				padding: 10px;
			
				@media only screen and(max-width: 991px) {
					margin-left: 10px;
				}
				@media only screen and(max-width: 767px) {
					width: 49%;
					justify-content: center;
					margin: 0; 
					padding: 15px 10px;
				}
			}
		}
	}


	.wrap__menu {
		position: static;
		background: #565550;
	
	
		.container {
			display: flex;
			align-items: center;
			position: relative;
			@media only screen and(max-width: 991px) {
				justify-content: space-between;
				flex-wrap: wrap;
				// height: 46px;
			}
		}
		&__inner {
			width: 280px;
			@media only screen and(max-width: 1439px) {
				width: 250px;
			}
			@media only screen and(max-width: 1199px) {
				width: 200px;
			}
			@media only screen and(max-width: 991px) {
				width: 100%;
			}
			.menu__link__koik {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #ec521d;
				color: white;
				padding: 15px 20px;
				font-weight: normal;
				font-size: 0.875em;
				position: relative;
				@media only screen and(max-width: 991px) {
					width: 300px;
				}
				@media only screen and(max-width: 767px) {
					width: 100%;
				}
				&.active {
					&:after {
						transform: rotate(-135deg);
						-webkit-transform: rotate(-135deg);
						margin-top: 2px;
					}
				}
				.menu__link__num {
					position: absolute;
					font-size: 1em;
					font-weight: bold;
					padding: 3px 10px;
					border-radius: 100px;
					right: 14px;
					background: #565550;
					top: -10px;
				}
				&:after {
					content: "";
					border: solid #ffffff;
					border-width: 0 2px 2px 0;
					display: inline-block;
					padding: 3px;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					margin-left: 20px;
					margin-top: -2px;
					transition: 0.3s ease;
				}
			}
		}
	
		.menu {
			display: flex;
			padding-left: 25px;
			
			
			@media only screen and(max-width: 1439px) {
				padding-left: 0;
			}
			@media only screen and(max-width: 991px) {
				position: absolute;
				top: 100%;
				background: white;
				left: 15px;
				width: calc(100vw - 30px);
				padding: 20px 0;
				display: none;
				z-index: 999;
				box-shadow: 0px 5px 18px 6px rgba(148, 148, 148, 0.27);
				border-radius: 0 0 10px 10px;
				min-width: calc(100vw - 30px);
			}
		
			.menu__popular {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 0.875em;
				color: #979797;
				padding: 5px 40px;
				position: relative;
				text-transform: uppercase;
				font-weight: 400;
				@media only screen and(max-width: 1199px) {
					padding: 5px 25px;
				}
				@media only screen and(max-width: 991px) {
					display: block;
					text-align: center;
					padding: 5px 15px 10px;
					margin-bottom: 10px;
				}
				&:before {
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					height: 10px;
					width: 1px;
					background: #979797;
					content: "";
					@media only screen and(max-width: 991px) {
						width: 15px;
						height: 1px;
						left: 50%;
						bottom: 0;
						top: auto;
						transform: translateX(-50%);
					}
				}
			}
		
			.nav { 
				display: flex;
				padding-left: 30px;
				@media only screen and(max-width: 1439px) {
					padding-left: 10px;
				}
				@media only screen and(max-width: 1199px) {
					padding-left: 0;
				}
				@media only screen and(max-width: 991px) {
					flex-direction: column;
					justify-content: center;
					width: 100%;
				}
				li {
					
					a {
						font-size: 0.875em;
						color: inherit;
						text-align: center;
						padding: 5px 30px;
						display: inline-flex;
						align-items: center;
						background: transparent;
						position: relative;
						transition: 0.3s ease;
						font-size: 0.875em;
						color: white;
						font-weight: 400;	
						height: 100%;
						@media only screen and(max-width: 1439px) {
							padding: 5px 25px;
						}
						@media only screen and(max-width: 1199px) {
							padding: 5px 15px;
						}
						@media only screen and(max-width: 991px) {
							color: #17243b;
							display: block;
							text-align: center;
							font-size: 1em;
						}
						&:hover,
						&:focus {
							background: transparent;
						}						
					}
				}
			}
		}
	}


	.burger {
		display: none;
		width: 36px;
		margin: 0;
		padding: 5px;
		position: relative;
		z-index: 999999;
		cursor: pointer;
		margin: -30px 0 20px auto; 
		height: 31px;
		@media only screen and(max-width: 767px) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	
		span {
			display: block;
			width: 100%;
			height: 3px;
			background: #222222;
			margin: 2px 0 2px auto;
			transition: 0.3s ease;
			width: 36px;
		}
	}
	&.active {
		.burger {
			padding-top: 10px;
			span:first-child {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			  }
			  span:nth-child(2) {
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			  }
			  span:last-child {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin-top: -20px;
			  }
		}
	}
}
.menu__category {
	display: none;
	position: absolute;
	width: 100vw;
	min-width: 100vw;
	background: #faf9f7;
	padding: 0 0 40px 0;
	border-bottom: 1px solid #edebe6;
	box-shadow: 5px 0 21px rgba(0, 0, 0, 0.1);
	@media only screen and(max-width: 991px) {
		padding: 0 0 40px 0;
	}
	
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.product__subtitle {
		text-transform: uppercase;
	}
	&__item {
		width: 20%;
		padding: 40px 10px 0; 
		@media only screen and(max-width: 991px) {
			padding: 30px 10px 0;
			width: 33%;
		}
		@media only screen and(max-width: 767px) {
			width: 50%;
			padding: 25px 7px 0;
		}
		ul {
			list-style-type: none;
			margin: 10px 0 5px;
			padding: 0;
			li {
				a {
					text-transform: uppercase;
					font-weight: 300;
					font-size: 0.875em;
					padding: 5px 0;
					color: rgb(128, 128, 128);
					display: block;
				}
			}
		}
		.read-more {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 0.875em;
			display: block;
			color: rgb(191, 191, 191);
		}
	}
}

/*main*/
body main {
	>.container {
		@media only screen and(max-width: 767px) {
			padding: 0;
		}
	}
	.main_inner {
		background: white;
		-webkit-box-shadow: 0px 5px 18px 6px rgba(148,148,148,0.27);
		-moz-box-shadow: 0px 5px 18px 6px rgba(148,148,148,0.27);
		box-shadow: 0px 5px 18px 6px rgba(148,148,148,0.27);
		padding: 35px 25px;
		@media only screen and(max-width: 1199px) {
			padding: 25px 20px;
		}
		@media only screen and(max-width: 479px) {
			padding: 25px 15px;
		}
	}
}
.banner-1__info {
	display: block;
	img {
		width: 100%;
	}
}

/*product*/
.product__block {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid  #f0f0f0;
	padding: 45px 0;
	@media only screen and(max-width: 1439px) {
		padding: 35px 0;
	}
	@media only screen and(max-width: 767px) {
		padding: 25px 0;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}
.foorum {
	.product__block:nth-last-child(2) {
		border: 0;
	}
}
.product__image {
	height: 230px;
	width: 230px;
	margin-left: 45px;
	@media only screen and(max-width: 1439px) {
		margin-left: 35px;
	}
	@media only screen and(max-width: 991px) {
		margin-left: 20px;
	}
	@media only screen and(max-width: 767px) {
		margin: 0 auto 15px;
		display: none;
		width: 100%;
		height: 350px;
	}
	@media only screen and(max-width: 400px) {
		height: 300px;
	}
	&.product__image__full {
		@media only screen and(max-width: 767px) {
			display: block;
		}
	}
	&.product__image__mobile {
		margin: 20px auto;
		display: block;
		@media only screen and(min-width: 768px) {
			display: none;
		}
	}
}
.product__inner {
	width: calc(100% - 275px);
	@media only screen and(max-width: 991px) {
		width: calc(100% - 250px);
	}
	@media only screen and(max-width: 767px) {
		width: 100%;
	}
}
.product__subtitle {
	font-weight: 400;
	font-size: 0.9375em;
	margin: 0 0 3px;
	color: inherit;
	display: block;
	&.subtitle__red {
		color: #f23900;
	}
	&.subtitle__success {
		color: #5fc900;
	}
	&.subtitle__info {
		color: #1bb8eb;
	}
}
.product__title {
	margin: 0 0 15px;
	font-size: 1.75em;
	font-family: "PT Serif", sans-serif;
	font-weight: bold;
	line-height: 1.3;
	display: inline;
	color: inherit;
	&:hover,
	&:focus {
		color: inherit;
	}
	@media only screen and(max-width: 767px) {
		font-size: 1.4em;
	}
}
.product__rating {
	display: inline-flex;
	align-items: center;	
	margin-left: 10px;
	font-family: inherit;
	font-size: 0.65em;	
}
.product__rating__value {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	color: white;
	font-family: 1.2em;
	font-family: "PT Serif", sans-serif;
	margin-right: 5px;

	&.rating___num__1 {	background: #9e0000;}
	&.rating___num__2 {	background: #ca3400;}
	&.rating___num__3 {	background: #e74100;}
	&.rating___num__4 {	background: #ea4614;}
	&.rating___num__5 {	background: #ffae00;}
	&.rating___num__6 {	background: #ffd200;}
	&.rating___num__7 {	background: #d1cf00;}
	&.rating___num__8 {	background: #b6d101;}
	&.rating___num__9 {	background: #91c701;}
	&.rating___num__10 { background: #5fc900;}
}
.selected,
.hover  {
	&.rating___num__1 {	background: #9e0000;}
	&.rating___num__2 {	background: #ca3400;}
	&.rating___num__3 {	background: #e74100;}
	&.rating___num__4 {	background: #ea4614;}
	&.rating___num__5 {	background: #ffae00;}
	&.rating___num__6 {	background: #ffd200;}
	&.rating___num__7 {	background: #d1cf00;}
	&.rating___num__8 {	background: #b6d101;}
	&.rating___num__9 {	background: #91c701;}
	&.rating___num__10 { background: #5fc900;}
}
.product__description {
	font-size: 1.125em;
	font-family: "PT Serif", sans-serif;
	margin: 15px 0 0;
	line-height: 1.35;
	p {
		line-height: inherit;
		margin: 0 0 15px;
		font-size: inherit;
		font-family: inherit;
		&:last-child {
			margin-bottom: 0;
		
		}
	}
}
.product__footer {
	padding: 30px 0 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@media only screen and(max-width: 1439px) {
		padding: 20px 0 0;
	}
	@media only screen and(max-width: 767px) {
		flex-wrap: wrap;
	}
	.product__comments {
		display: flex;
		align-items: center;
		
		@media only screen and(max-width: 767px) {
			width: 100%;
			flex-wrap: wrap;
		}
		span, a {
			font-size: 0.875em;
			font-weight: 400;
			color: #979797;
			display: inline-block;
			padding: 0 20px;
			@media only screen and(max-width: 991px) {
				padding: 0 15px;
			}
			@media only screen and(max-width: 767px) {
				margin-top: 15px;
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&.separator {
				padding: 0;
				height: 10px;
				width: 1px;
				background: #979797;
				@media only screen and(max-width: 767px) {
					margin-right: 15px;
				}
			}
		}
	}
}
.wrap__btn__all {
	text-align: center;
	padding: 60px 0 20px;
	@media only screen and(max-width: 1439px) {
		padding: 40px 0 20px;
	}
	@media only screen and(max-width: 767px) {
		padding: 20px 0;
	}
}
.btn__all__products {
	display: inline-block;
	width: 100%;
	max-width: 620px;
	border: 2px solid  #e4e4e4;
	padding: 15px 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.9375em;
	color: #a2a2a2;
	font-weight: bold;
	transition: 0.3s ease;
	&:hover,
	&:focus {
		color: rgb(34, 34, 34);
	}
}

.home__products {
	padding: 45px 0;
	border-bottom: 1px solid  #f0f0f0;
	@media only screen and(max-width: 1439px) {
		padding: 35px 0;
	}
	@media only screen and(max-width: 1199px) {
		padding: 20px 0;
	}
	@media only screen and(max-width: 767px) {
		padding: 10px 0;
	}
	.home__product__item {
		padding: 0 25px;
		@media only screen and(max-width: 1439px) {
			padding: 0 15px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 20px 15px;
			max-width: 600px;
			margin: 0 auto;
			border-bottom: 1px solid  #f0f0f0;	
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 0;
		}
		&__inner {
			color: inherit;
			display: block;
		}
	}
	.col-lg-4 {
		border-right: 1px solid #F0F0F0;
		@media only screen and(max-width: 1199px) {
			border-right: 0;
		}
		&:last-child {
			border: 0;
			.home__product__item {
				border-bottom: 0;
			}
		}
	}
}
.product__item__img { 
	position: relative;
	margin: 15px auto 10px;
	@media only screen and(max-width: 1199px) {
		text-align: center;
	}
	.product__rating__value {
		width: 50px;
		height: 50px;
		font-size: 1.625em;
		font-weight: bold;
		position: absolute;
		top: -10px;
		right: 15px;
	}
} 

/*block__news*/ 
.block__news {
	@media only screen and(max-width: 1199px) {
		padding: 25px 0 0;
	}
	&__margin {
		padding: 30px 0;
		@media only screen and(max-width: 1439px) {
			padding: 20px 0;
		}
		@media only screen and(max-width: 1199px) {
			padding: 25px 0 15px;
		}
	}
}
.title__mini {
	color: white;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 30px;
	line-height: 1.2;
	@media only screen and(max-width: 1439px) {
		padding: 15px 20px;
	}
	&.mini__info {
		background: #1BB8EB;
	}
	&.mini__success {
		background: #5fc900;
	}
	&.mini__comments {
		background: #4f4e4b;
	}
}
.block__news__inner {
	background:  #faf9f7;
	padding: 18px 30px;
	border-bottom: 2px solid #e4e4e4;
	@media only screen and(max-width: 1439px) {
		padding: 18px 20px;
	}
}
.block__news__inner__item {
	margin: 0 0 15px;
	padding-right: 10px;
	@media only screen and(max-width: 1439px) {
		padding-right: 0;
	}
	&:last-child {
		margin: 0;
	}
	.block__news__author {
		font-size: 0.875em;
		color: #f23900;
		margin-bottom: 2px;
		display: block;
	}
	.block__news__inner__info {
		color: #222222;
		font-size: 1em;
		display: inline;
		line-height: 1.5;
	}
	.block__news__inner__cat {
		display: inline-block;
		font-size: 0.875em;
		color: #838383;
	}
}
.block__news__inner__pro {
	display: inline-block;
	vertical-align: top;
	color: white;
	text-transform: uppercase;
	font-size: 0.6875em;
	border-radius: 4px;
	padding: 2px 5px;
	background: #ffcf00;
}
.foorum {
	.block__news {
		padding: 30px 0;
		@media only screen and(max-width: 1439px) {
			padding: 25px 0;
		}
		@media only screen and(max-width: 1199px) {
			padding: 25px 0 0;
		}
	}
}
.foorum__nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		&:first-child {
			a {
				padding-top: 0;
			}
		}
		&:last-child {
			a {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
		a {
			display: block;
			border-bottom: 1px solid #e0e0e0;
			padding: 15px 0;
			font-size: 0.9375em;
			color: #5fc900;
			transition: 0.3s ease;
			&:hover,
			&:focus {
				color: #79e616;
			}
		}
	}
}
.top__products__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 9px;
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__num {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: #cacaca;
		font-size: 0.875em;
		color: white;
		margin-right: 15px;
	}
	&__text {
		width: calc(100% - 110px);
		margin-right: 10px;
		font-size: 0.875em;
		color: #3e3d3b;
	}
	&__value {
		font-size: 0.875em;
		color: #838383;
	}
}

/*advice*/
.advice {
	margin-left: -21px;
	margin-right: -21px;
	width: calc(100% + 42px);
	padding-left: 21px;
	padding-right: 21px;
	overflow: hidden;
	margin-bottom: 20px;
	@media only screen and(max-width: 767px) {
		width: calc(100% + 36px);
	}
}
.advice {
	.title__mini {
		padding: 10px 30px; 
		@media only screen and(max-width: 1439px) {
			padding: 10px 20px;
		}
		@media only screen and(max-width: 767px) {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	.buttons {
		margin-left: 35px;
		@media only screen and(max-width: 1439px) {
			margin-left: 25px;
		}
		@media only screen and(max-width: 767px) {
			margin: 12px 0 0 ;
			width: auto;
			max-width: 150px;
			text-align: center;
		}
	}
	.block__news__inner {
		display: flex;
	}
}

.advice__item[data-col="2"] {
	.advice__nav {
		column-count: 2;
		column-gap: 40px;
		min-width: 600px;
		@media only screen and(max-width: 1439px) {
			column-gap: 20px;
			min-width: 450px;
		}
		@media only screen and(max-width: 767px) {
			min-width: 100%;
			column-count: 1;
		}
	}
} 
.owl-item {
	&:first-child {
		.advice__item {
			padding-left: 0;
		}
	}
	&:last-child {
		.advice__item {
			border: 0;
		}
	}
}
.advice__item {
	border-right: 1px solid #e8e8e8;
	padding: 0 40px;
	@media only screen and(max-width: 767px) {
		padding: 0 15px;
	}
	.advice__subtitle {
		text-transform: uppercase;
		margin: 8px 0;
		color: #1bb8eb;
		font-size: 0.875em;
	}
	.advice__nav {
		list-style-type: none;
		margin: 0 0 25px;
		padding: 0;
		li {
			a {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1.175em;
				font-family: "PT Serif", sans-serif;
				line-height: 1.6;
				color: #222222;
				white-space: nowrap;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
				@media only screen and(max-width: 1439px) {
					font-size: 1.05em;
				}
			}
		}
	}
}

.owl-item {
	display: inline-flex!important;
	vertical-align: top;
}
.owl-item.advice {
	&:last-child {
		border: 0;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-loaded.owl-drag {
    position: relative;
}
.owl-stage {
	display: flex;
}
.owl-prev ,
.owl-next {
    font-size: 0;
    width: 42px;
    height: 42px;
	cursor: pointer; 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	border: 0;
	border-radius: 50%;
	z-index: 9;
	transition: 0.3s ease;
	border: 1px solid transparent;
	visibility: visible;
	&:hover,
	&:focus {
		border: 1px solid rgba(158,158,158,0.2);
	}
	&:before {
		position: absolute;
		content: "";
		border: solid #EC521D;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: translate(-50%, -50%) rotate(135deg);
		-webkit-transform: translate(-50%, -50%) rotate(135deg);
		top: 50%;
		left: 50%;
	}
}
.owl-prev.disabled ,
.owl-next.disabled {
	visibility: hidden;
}
.owl-prev {
	left: -21px;
	@media only screen and(max-width: 767px) {
		left: -18px;
	}
}
.owl-next  {
	right: 34%;
	-webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
	right: -21px;
	@media only screen and(max-width: 767px) {
		right: -18px;
	}
}

/*product__video*/
.product__video {
	padding: 45px 0 55px;
	border-bottom: 1px solid #f0f0f0;
	@media only screen and(max-width: 1439px) {
		padding: 35px 0 40px;
	}
	@media only screen and(max-width: 1199px) {
		padding: 30px 0;
	}
	@media only screen and(max-width: 767px) {
		padding: 20px 0;
	}
	&__title__inner {
		margin-bottom: 35px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
			margin-bottom: 25px;
		}
		.product__title {
			margin: 0 20px 0 0;
		}
		.buttons {
			@media only screen and(max-width: 767px) {
				margin-top: 10px;
			}
		}
	}
	&__wrap {
		background: #faf9f7;
		&__inner {
			max-width: 710px;
			margin: 0 auto;
		}
	}
	&__inner {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}

/*footer*/
footer {
	padding: 35px 0;
	@media only screen and(max-width: 767px) {
		padding: 30px 0;
	}
}
.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	@media only screen and(max-width: 991px) {
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	.footer__menu {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
		margin: 0;
		list-style-type: none;
		@media only screen and(max-width: 991px) {
			margin-bottom: 15px;
			flex-wrap: wrap;
		}
		@media only screen and(max-width: 767px) {
			flex-direction: column;
		}
		li {
			a {
				display: block;
				color: #a2a2a2;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.875em;
				padding: 5px 15px;
				transition: 0.3s ease;
				@media only screen and(max-width: 767px) {
					padding: 8px;
				}
				&:hover,
				&:focus {
					color: rgb(34, 34, 34);
				}
			}
		}
	}
	.footer__socio {
		display: flex;
		align-items: center;
		a {
			display: flex;
			align-items: center;
			margin-left:20px;
			text-transform: uppercase;
			font-size: 0.875em;
			transition: 0.3s ease;
			color: #a2a2a2;
			font-weight: bold;
			padding: 0 10px 0 0;
			&:first-child {
				margin-left: 0;
			} 
			&:hover,
			&:focus {
				color: rgb(34, 34, 34);
			}
			img {
				margin-right: 10px;
			}
		}
	}
}

/*login page*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
body textarea {
	display: block;
	width: 100%;
	background: #f4f4f4;
	color: #555555;
	font-size: 1em;
	padding: 15px 25px;
	margin: 0 0 10px;
	border: 0;
	border-bottom: 2px solid #e0e0e0;
	@media only screen and(max-width: 767px) {
		padding: 14px 18px;
	}
}
input::-webkit-input-placeholder ,
textarea::-webkit-input-placeholder {
	font-style: italic;
	color: #b2b2b2;
}
body textarea {
	resize: none;
	min-height: 150px;
	line-height: 1.3;
}
input[type="submit"] {
	border: 0;
	display: block;
	width: 100%;
	padding: 15px;
	margin: 30px 0 27px;
	font-size: 0.9375em;
}
.login {
	margin: 0 auto;
	padding: 40px 0;
	width: 100%;
	max-width: 620px;
	@media only screen and(max-width: 767px) {
		padding: 10px 0 20px;
	}
	&__title {
		margin: 0 0 40px;
		font-size: 1.75em;
		font-weight: bold;
		@media only screen and(max-width: 767px) {
			margin-bottom: 25px;
		}
	}
	.wrap__input__password {
		position: relative;
		@media only screen and(max-width: 479px) {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
		}
		a {
			position: absolute;
			top: 48%;
			right: 25px;
			color: #565550;
			font-size: 0.9375em;
			transform: translateY(-50%);
			@media only screen and(max-width: 479px) {
				position: static;
				transform: translate(0);
			}
		}
		input {
			padding-right: 160px;
		}
	}
	.wrap__input__color {
		display: flex;
		align-items: top;
		justify-content: space-between;
		@media only screen and(max-width: 479px) {
			flex-wrap: wrap;
			justify-content: flex-end;
		}
		input {
			width: calc(100% - 61px);
			@media only screen and(max-width: 479px) {
				width: 100%;
			}
		}
		span {
			display: block;
			width: 51px;
			height: 51px;
			margin-left: 10px;
			background: #5fc900;
			border: 1px solid  #e1e1e1;
			@media only screen and(max-width: 767px) {
				width: 49px;
				height: 49px;
			}
			@media only screen and(max-width: 479px) {
				width: 35px;
				height: 35px;
			}
		}	
	}

	&__socio {
		display: flex;
		justify-content: space-between;
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__subtitle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
			.line {
				display: block;
				background: #a2a2a2;
				height: 1px;
				width: 100%;
				@media only screen and(max-width: 479px) {
					display: none;
				}
			}
			
			&__inner {
				display: block;
				width: 100%;
				white-space: nowrap;
				padding: 0 30px;
				color: #a2a2a2;
				font-size: 0.9375em;
				text-align: center;
				font-style: italic;
				@media only screen and(max-width: 479px) {
					padding: 0;
					white-space: normal;
				}
			}
		}
		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 90px;
			border: 1px solid #979797;
			@media only screen and(max-width: 767px) {
				height: 70px;
				width: 70px;
				margin: 0 5px 10px;
			}
			img {
				max-width: 60px;
				max-height: 60px;
				@media only screen and(max-width: 767px) {
					max-width: 40px;
					max-height: 40px;
				}
			}
			&__full {
				border: 0;
				img {
					max-width: 100%;
					max-height: 100%;
					@media only screen and(max-width: 767px) {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
}

/*product page*/
.prod__page {
	.breadcrumb {
		background: transparent;
		padding: 0 0 20px;
		border-bottom: 1px solid #f0f0f0;
		margin: 0 0 15px;
		@media only screen and(max-width: 767px) {
			margin: 0 0 10px;
		}
		li {
			color: #595959;
			font-size: 0.9375em;
			padding-right: 8px;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			a {
				color: inherit;
				font-size: inherit;
				display: inline-block;
				padding: 0 8px 0 0;
			}
			&:last-child {
				color: #f23900;
			}
			&:before {
				display: none;
			}
		}
	}
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 25px;
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
		}
		&__info {
			color: #9d9d9d;
			font-size: 0.875em;
			display: inline-block;
			margin-right: 10px;
		}
		&__name {
			color: #696969;
			font-weight: bold;
			font-size: 1.125em;
			margin-right: 5px;
			font-family: "PT Serif", sans-serif;
			&:hover,
			&:focus {
				color: #696969;
			}
		}
		&__inner {
			@media only screen and(max-width: 767px) {
				width: 100%;
				margin: 5px 0 0;
				display: flex;
				align-items: center;
			}
		}
	}
}
.prod__block {
	.product__title {
		font-size: 2.25em;
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		@media only screen and(max-width: 1199px) {
			font-size: 2em;
		}
		@media only screen and(max-width: 991px) {
			font-size: 1.75em;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.4em;
			display: inline;
		}
	}
	.product {
		&__block {
			padding: 5px;
			background: #faf9f7;
			margin-bottom: 20px;
			border: 0;
			align-items: flex-start;
		}
		&__inner {
			padding: 25px 15px 35px 35px;
			display: flex;
			flex-wrap: wrap;
			@media only screen and(max-width: 1439px) {
				padding: 20px 15px 30px 25px;
			}
			@media only screen and(max-width: 1199px) {
				padding: 15px 15px 25px 20px;
			}
			@media only screen and(max-width: 767px) {
				padding: 15px 15px 20px;
			}
		}
		&__description {
			font-size: 1em;
			color: #454545;
			overflow: hidden;
			line-height: 1.4;
			font-family: "PT Serif", sans-serif;
			margin: 0;
			position: relative;
			&.closed {
				overflow: hidden;
				max-height: 7em;
				overflow: hidden;
				position: relative;
				&:after {
					content: "";
					width: 100%;
					height: 40px;
					background: linear-gradient(to bottom, rgba(245, 244, 240, 0) 0%, #faf9f7 100%);
					position: absolute;
					bottom: -5px;
					left: 0;
				}
			}
		}
		&__image {
			margin: 0 auto;
			background: white;
			height: 100%;
			width: 310px;
			display: flex;
			align-items: center;
			@media only screen and(max-width: 1439px) {
				width: 100%;
				max-width: 260px;
			}
			@media only screen and(max-width: 767px) {
				max-width: 400px;
				padding: 10px;
			}
		}
	}
	&__name {
		color: #f23900;
		margin: 0 0 5px;
		font-weight: bold;
		font-size: 1.375em;
		font-family: "PT Serif", sans-serif;
	}
	&__company {
		color: #454545;
		margin: 0 0 20px;
		font-size: 0.9375em;
		font-weight: bold;
		width: 100%;
		@media only screen and(max-width: 767px) {
			margin: 0 0 15px;
		}
	}
	&__rating {
		padding: 35px 0;
		border-bottom: 1px solid #f0f0f0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media only screen and(max-width: 1199px) {
			padding: 30px 0;
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 0;
			flex-wrap: wrap;
			flex-direction: column;
		}
		&__title {
			color: #999999;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.875em;
			margin: 0 0 20px;
			@media only screen and(max-width: 767px) {
				margin:  0 0 14px;
			}
		}
	}
	&__arvustus {
		@media only screen and(min-width: 768px) {
			text-align: right;
		}
	}
	&__date {
		display: block;
		font-size: 0.875em;
		margin-top: 5px;
		color: #9d9d9d;
	}
	&__like {
		@media only screen and(max-width: 767px) {
			margin: 0 0 25px;
		}
		&__item {
			font-weight: bold;
			font-size: 1.125em;
			display: inline-flex;
			align-items: center;
			margin-right: 15px;
			span {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				margin-right: 6px;
				img {
					width: 18px;
				}
			}
			&.likes {
				color: #5fc900;
				span {
					background: #5fc900;
				}
			}
			&.dizlikes {
				color: #f23900;
				span {
					background: #f23900;
				}
			}
		}
		&__social {
			color: #2f2f2f;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1em;
			position: relative;
			margin-left: 40px;
			line-height: 30px;
			height: 30px;
			display: inline-block;
			@media only screen and(max-width: 767px) {
				margin-left: 20px;
			}
			&:hover,
			&:focus {
				color: #2f2f2f;
			}
			&:before {
				display: block;
				position: absolute;
				left: -30px;
				content: "";
				width: 1px;
				background: #f0f0f0;
				height: 30px;
				top: 0;
				@media only screen and(max-width: 767px) {
					left: -15px;
				}
			}
		}
	}
	&__view {
		margin: 0 0 50px;
		padding-top: 65px;
		@media only screen and(max-width: 1439px) {
			margin: 0 0 40px;
			padding-top: 60px;
		}
		@media only screen and(max-width: 1199px) {
			margin: 0 0 30px;
		}
		&__carousel {
			max-width: 800px;
			margin: 0 auto 70px;
			@media only screen and(max-width: 1439px) {
				margin: 0 auto 50px;
			}
			@media only screen and(max-width: 991px) {
				margin: 0 auto 35px;
			}
			&__item {
				transition: 0.3s ease;
				width: 100%;
				a {
					color: #9d9d9d;
					font-style: italic;
					font-size: 0.875em;
					display: block;
					transition: 0.3s ease;
					&:hover,
					&:focus {
						color: #9d9d9d;
					}
				}
			}
		}
		.owl-item.active + .active {
			.prod__block__view__carousel__item {
				text-align: right;
				width: 100%;
			}
		}
		.owl-prev ,
		.owl-next {
			width: auto;
			height: auto;
			cursor: pointer; 
			position: absolute;
			top: -30px;
			border: 0;
			transform: translate(0);
			background: transparent;
			border-radius: 0;
			z-index: 9;
			transition: 0.3s ease;
			font-size: .875em;
			color: #1ab5e8;	
			@media only screen and(max-width: 479px) {
				width: 50%;
				top: -40px;
			}	
			&:before {
				display: none;
			}
			span {
				width: 22px;
				height: 22px;
				background: #1ab3e5;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				&:before {
					position: absolute;
					content: "";
					border: solid #ffffff;
					border-width: 0 2px 2px 0;
					display: inline-block;
					padding: 2px;
					transform: translate(-50%, -50%) rotate(135deg);
					-webkit-transform: translate(-50%, -50%) rotate(135deg);
					top: 50%;
					left: 52%;
				}
			}
			
		}
		
		.owl-prev {
			left: 0;
			padding-left: 35px;
			@media only screen and(max-width: 479px) {
				text-align: left;
			}	
			span {
				left: 0;
			}
		}
		.owl-next  {
			right: 0;
			padding-right: 35px;
			@media only screen and(max-width: 479px) {
				text-align: right;
			}	
			span {
				right: 0;
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}	
	&__advertising {
		display: block;
		background: #faf9f7;
		font-family: "PT Serif", sans-serif;
		font-size: 1.625em;
		font-weight: bold;
		color: #9d9d9d;
		text-align: center;
		padding: 40px 10px;
		@media only screen and(max-width: 1439px) {
			font-size: 1.5em;
			padding: 30px 10px;
		}
		@media only screen and(max-width: 991px) {
			padding: 25px 10px;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.35em;
			padding: 20px 15px;
		}
		@media only screen and(max-width: 479px) {
			padding: 15px;
			font-size: 1.25em;
		}
		&:hover,
		&:focus {
			color: #9d9d9d;
		}
		span {
			color: #5fc900;
			font-family: inherit;
		}
	}
	&__comments {
		.prod__page__title__info {
			margin-right: 20px;
		}
		&__title {
			font-size: 1.625em;
			font-family: "PT Serif", sans-serif;
			font-weight: bold;
			color: #222222;
			margin: 0 0 40px;
			padding-bottom: 25px;
			border-bottom: 3px solid #f0f0f0;
			@media only screen and(max-width: 1439px) {
				margin: 0 0 30px;
			}
			@media only screen and(max-width: 767px) {
				font-size: 1.5em;
				margin: 0 0 20px;
				padding-bottom: 20px;
			}
			sup {
				color: #f33800;
				font-weight: bold;
				font-size: .9em;
				@media only screen and(max-width: 479px) {
					font-size: 0.75em;
				}
			}
		}
		&__item {
			margin-bottom: 40px;
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 10px;
			@media only screen and(max-width: 1439px) {
				margin-bottom: 30px;
			}
			@media only screen and(max-width: 991px) {
				margin-bottom: 20px;
			}
			@media only screen and(max-width: 1199px) {
				margin-bottom: 25px;
			}
			&__title {
				margin-bottom: 25px;
				@media only screen and(max-width: 991px) {
					margin: 0 0 20px;
				}
			}
			&__info {
				p {
					margin: 0 0 24px;
					color: #222222;
					font-family: "PT Serif", sans-serif;
					font-size: 1.1875em;
					line-height: 1.3;
					@media only screen and(max-width: 1439px) {
						font-size: 1.125em;
					}
					@media only screen and(max-width: 1199px) {
						font-size: 1.1em;
						margin: 0 0 18px;
					}
					@media only screen and(max-width: 991px) {
						font-size: 1em;
					}
				}
			}
		}
	}
}
.prod__info {
	padding: 0 0 35px;
	border-bottom: 1px solid #f0f0f0;
	@media only screen and(max-width: 1439px) {
		padding: 0 0 20px;
	}
	@media only screen and(max-width: 991px) {
		padding: 0 0 10px;
	}
	p {
		color: #222222;
		font-family: "PT Serif", sans-serif;
		font-size: 1.1875em;
		line-height: 1.3;
		margin: 0 0 24px;
		@media only screen and(max-width: 1439px) {
			font-size: 1.125em;
		}
		@media only screen and(max-width: 1199px) {
			font-size: 1.1em;
			margin: 0 0 18px;
		}
		@media only screen and(max-width: 991px) {
			font-size: 1em;
			margin-bottom: 15px;
		}
	}
}
.prod__forms {
	padding: 10px 0 0;
	@media only screen and(max-width: 1199px) {
		margin-bottom: 25px;
	}
	@media only screen and(max-width: 991px) {
		margin-bottom: 20px;
	}
	&__title {
		font-family: "PT Serif", sans-serif;
		color: #222222;
		font-size: 1.625em;
		margin: 0 0 30px;
		font-weight: bold;
		@media only screen and(max-width: 991px) {
			font-size: 1.5em;
		}
	}
	form {
		background: #faf9f7;
		padding: 45px 50px; 
		margin-bottom: 65px;
		@media only screen and(max-width: 1439px) {
			margin-bottom: 50px;
			padding: 35px 40px;
		}
		@media only screen and(max-width: 1199px) {
			margin-bottom: 35px;
			padding: 25px 30px;
		}
		@media only screen and(max-width: 991px) {
			padding: 20px;
		}
		@media only screen and(max-width: 767px) {
			padding: 15px 15px;
			margin-bottom: 30px;
		}
		@media only screen and(max-width: 375px) {
			padding: 15px 8px
		}
		&:last-child {
			margin: 0;
		}
		input,
		textarea {
			background: white;
			border: 1px solid #ececec;
			margin-bottom: 15px;
		}
		input[type="submit"] {
			padding: 15px 30px;
			margin: 10px 0 0;
			width: auto;
			display: inline-block;
			@media only screen and(max-width: 767px) {
				padding: 10px 25px;
			}	
		}
	}
	&__rating {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 35px;		
		&__inner {
			display: inline-flex;
			align-items: center;
		}
		.rating___num__1 {
			&:hover, &:focus { background: #9e0000; }
		}
		.rating___num__2 {
			&:hover, &:focus { background: #ca3400; }
		}
		.rating___num__3 {
			&:hover, &:focus { background: #e74100; }
		}
		.rating___num__4 {
			&:hover, &:focus { background: #ea4614;}
		}
		.rating___num__5 {
			&:hover, &:focus { background: #ffae00; }
		}
		.rating___num__6 {
			&:hover, &:focus { background: #ffd200;}
		}
		.rating___num__7 {
			&:hover, &:focus { background: #d1cf00; }
		}
		.rating___num__8 {
			&:hover, &:focus { background: #b6d101; }
		}
		.rating___num__9 {
			&:hover, &:focus { background: #91c701; }
		}
		.rating___num__10 {
			&:hover, &:focus { background: #5fc900; }
		}
	
	}
	label {
		display: inline-block;
		margin: 0 18px 0 0; 
		color: #999999;
		font-size: 0.875em;
		@media only screen and(max-width: 479px) {
			display: block;
			margin: 0 0 10px;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		input.buttons.btn__success {
			margin: 0;
		}
		@media only screen and(max-width: 767px) {
			align-items: inherit;
			flex-wrap: wrap;
		}
	}
	&__headlamp {
		display: flex;
		align-items: center;
		position: relative;
		@media only screen and(max-width: 767px) {
			width: 100%; 
			margin: 15px 0 0;
			flex-wrap: wrap;
		}
		.wrap__input__headlamp {
			@media only screen and(max-width: 767px) {
				width: 100%;
				margin-top: 10px;
			}
			input {
				margin-bottom: 0;
				min-width: 335px;
				@media only screen and(max-width: 767px) {
					width: 100%;
					min-width: 100%;
				}
			}
		}
		&__color {
			display: block;
			width: 40px;
			height: 40px;
			background: #1bb8eb;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			right: 5px;
			@media only screen and(max-width: 767px) {
				width: 30px;
				height: 30px;
				position: static;
				transform: translate(0);
				margin: 10px 0 0 auto;
			}
		}
	}
}
.rating___num {
	display: inline-flex;
	width: 25px;
	height: 25px;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "PT Serif", sans-serif;
	font-size: 0.9375em;
	background: #c3c3c3;
	border-radius: 50%;
	margin-right: 3px;
	font-weight: bold;
	line-height: 1;
	transition: 0.3s ease;
	&:hover,
	&:focus {
		color: white;
		background: #afaaaa;
	}
	@media only screen and(max-width: 1439px) {
		width: 21px;
		height: 21px;
		font-size: 0.9em;
	}
}
body .nice-select {
	height: 100%;
	float: none;
	font-size: 0.875em;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.3s ease;
	border-radius: 0;
}
.prod__add {
	.buttons {
		display: block;
		width: 100%;
		text-align: center;
		padding: 14px 10px;
		margin: 0 0 10px;
	}
	.prod__forms__rating {
		margin-bottom: 20px;
		justify-content: center;
	}
	&__rating {
		text-align: center;
		margin: 0 0 30px;
		padding-top: 15px;
		border-bottom: 1px solid #f0f0f0;
		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 0 15px;
			.line {
				height: 1px;
				background: #f0f0f0;
				display: inline-block;
				width: 20%;
			}
		}
		&__inner {
			text-transform: uppercase;
			font-size: 0.875em;
			color: #999999;
			font-weight: bold;
			white-space: nowrap;
		}
	}
	.nice-select {
		height: 100%;
		float: none;
		background: white;
		color: #5fc900;
		border: 2px solid #e4e4e4;
		font-size: 0.875em;
		padding: 14px 15px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: bold;
		transition: 0.3s ease;
		text-align: center!important;
		border-radius: 0;
		margin-bottom: 10px;
		&.open,
		&:hover,
		&:focus {
			border: 2px solid #e4e4e4;
		}
		&:after {
			margin: 0;
			border-bottom: 2px solid #5fc900;
			border-right: 2px solid #5fc900;
			height: 0;
			width: 0;
			padding: 3px;
			right: 35px;
			top: 42%;
			transform: translateY(-50%) rotate(45deg);
			transform-origin: 0;
		}
		&.open {
			&:after {
				top: 50%;
			}
		}
		.list {
			width: 100%;
			box-shadow: 0px 5px 15px rgba(0,0,0,0.22);
			border-radius: 0;
			padding: 2px 25px 5px;
			li {
				border-radius: 0;
				background: transparent;
				font-size: 0.9375em;
				padding: 15px 15px;
				border-bottom: 1px solid #e0e0e0;
				min-height: auto;
				line-height: inherit;
				&:hover {
					color: #79e616;
				}
				&:first-child {
					display: none;
				}
				&:last-child {
					border: 0;
				}
				&.selected {
					background: transparent;
					font-weight: normal;
					&:hover,
					&:focus {
						background: transparent;
					}
				}
			}
		}
	}
}
.related__product {
	@media only screen and(max-width: 1199px) {
		margin: 25px auto 0;
		max-width: 450px;
	}
	.product__title {
		font-size: 1.125em;
		color: #222222;
		&:hover,
		&:focus {
			color: #222222;
		}
	}
	.home__product__item {
		padding-bottom: 10px;
	}
}
/*block-serach *** otsing */
.block-search {
	margin: 5px 0 0;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
		padding: 30px 0;
		border-bottom: 3px solid #f0f0f0;
		@media only screen and(max-width: 767px) {
			padding: 25px 0;
			margin-bottom: 10px;
		}
		@media only screen and(max-width: 479px) {
			padding: 15px 0;
			margin-bottom: 5px;
			flex-wrap: wrap;
		}
		&__name {
			color: #222222;
			font-family: "PT Serif", sans-serif;
			font-size: 1.75em;
			font-weight: bold;
			margin: 0;
			@media only screen and(max-width: 767px) {
				font-size: 1.5em;
			}
			@media only screen and(max-width: 479px) {
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}
	&__type {
		.nice-select {
			border-radius: 0;
			border: 0;
			color: #999999;
			font-size: 0.875em;
			font-weight: bold;
			padding: 5px 35px 5px 0;
			height: 100%;
			line-height: 1.2;
			text-transform: uppercase;
			min-width: 160px;
			width: 100%;
			background: transparent;
			.list {
				width: 100%;
			}
			&:after {
				margin: 0;
				border-bottom: 2px solid #999999;
				border-right: 2px solid #999999;
				height: 0;
				width: 0;
				padding: 3px;
				right: 5px;
				top: 36%;
				transform: translateY(-50%) rotate(45deg);
				transform-origin: 0;
			}
			&.open {
				&:after {
					top: 50%;
				}
			}
		}
	}
	&__list {
		margin: 0;
		padding: 0 0 0 20px;
		li {
			color: #bdbdbd;
			font-size: 1.125em;
			padding: 14px 0;
			position: relative;
			@media only screen and(max-width: 767px) {
				font-size: 1em;
				padding: 10px 0;
			}
			@media only screen and(max-width: 479px) {
				font-size: 0.9em;
			}
			&:before {
				display: block;
				position: absolute;
				bottom: 0;
				background:  #f0f0f0;
				width: calc(100% + 20px);
				left: -20px;
				bottom: 0;
				height: 1px;
				content: "";
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
		}
		&__inner {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			padding-left: 10px;
			@media only screen and(max-width: 479px) {
				padding: 0;
			}
		}
		&__name {
			font-family: "PT Serif", sans-serif;
			font-weight: bold;
			font-size: 1.06em;
			color: #222222;
			@media only screen and(max-width: 767px) {
				width: 50%;
			}
			@media only screen and(max-width: 479px) {
				font-size: 1em;
			}
		}
		&__num {
			width: 100px;
			display: inline-block;
			color: #979797;
			font-size: 0.75em;
			text-align: center;
			padding: 0 5px;
			@media only screen and(max-width: 767px) {
				width: 80px;
			}
			@media only screen and(max-width: 479px) {
				width: 70px;
				padding: 0 ;
			}	
		}
		.product__rating__value {
			font-weight: bold;
			font-size: 1em;
			margin: 0;
		}
		&__info {
			display: flex;
			align-items: center;
		}
		&__like {
			font-size: 0.8em;
			display: inline-flex;
			align-items: center;
			min-width: 60px;
			margin-right: 40px;
			@media only screen and(max-width: 991px) {
				margin-right: 20px;
			}
			@media only screen and(max-width: 767px) {
				margin-right: 5px;
				min-width: 45px;
			}
			img {
				width: 19px;
				margin-right: 4px;
			}
			&.dizlikes {
				img {
					margin-bottom: -5px;
				}
			}
		}
	}
}
/*product__block__user*/
.product__block__user {
	padding: 40px 0 30px;
	.product__title {
		font-family: "Open Sans", sans-serif;
	}
	.product__xp {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin-left: 20px;
		font-size: bold;
		color: white;
		font-size: 0.52em;	
		line-height: 1.2;
		padding: 5px 5px 5px 9px;
		background: #f9ca00;
		&:before {
			display: block;
			position: absolute;
			left: -5px;
			top: 50%;
			transform: translateY(-50%);
			content: "";
			width: 0; 
			height: 0; 
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 5px solid #f9ca00;
		}
	}
}
.block__user-info {
	padding: 25px 0;
	border-bottom: 1px solid #f0f0f0;
	@media only screen and(max-width: 991px) {
		padding: 20px 0 25px;
	}
	table {
		width: 100%;
		tr {
			td {
				padding: 10px 5px 10px 0;
				color: #737373;
				font-size: 1em;
				@media only screen and(max-width: 991px) {
					padding: 7px 5px 7px 0;
				}
				@media only screen and(max-width: 479px) {
					font-size: 0.875em;
				}
				@media only screen and(max-width: 400px) {
					font-size: 0.785em;
				}
				&:first-child {
					@media only screen and(max-width: 991px) {
						width: 180px;
					}
					@media only screen and(max-width: 479px) {
						width: 135px;
					}
					@media only screen and(max-width: 400px) {
						width: 95px;
					}
				}
				&:last-child {
					padding-right: 0;
				}
				a {
					color: inherit;
					font-weight: bold;
				}
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		img {
			width: 19px;
			margin-right: 4px;
		}
	}
	&__like {
		font-size: 0.9em;
		margin-right: 15px;
		@media only screen and(max-width: 479px) {
			margin-right: 10px;
		}
		&:last-child {
			margin: 0;
		}
		&.dizlikes {
			img {
				margin-bottom: -2px;
			}
		}
	}
}
.likes {
	color: #5fc900;
}
.dizlikes {
	color: #eb4613;
}
.block-search__user {
	margin-top: 55px;
	background: #faf9f7;
	padding: 0 30px 15px 35px;
	@media only screen and(max-width: 1439px) {
		margin-top: 45px;
		padding: 0 25px 15px;
	}
	@media only screen and(max-width: 767px) {
		margin-top: 30px;
		padding: 0 10px 15px;
	}
}
/*new-product*/
.new-product {
	padding: 40px 0 0;
	border: 0;
	@media only screen and(max-width: 1439px) {
		padding: 30px 0 0;
	}
	@media only screen and(max-width: 767px) {
		padding-bottom: 0;
	}
	&__title {
		font-family: "Open Sans", sans-serif;
		margin: 35px 0  0;
		border-bottom: 1px solid #f0f0f0;
		display: block;
		padding-bottom: 20px;
		@media only screen and(max-width: 1439px) {
			margin: 25px 0 0 ;
			padding-bottom: 15px;
		}
	}
	&__subtitle {
		color: #222222;
		font-weight: bold;
		font-size: 1.25em;
		margin: 0 0 20px;
		@media only screen and(max-width: 1439px) {
			margin: 0 0 15px;
		}
	}
	&__inner {
		padding: 0 0 40px;
		margin-bottom: 35px;
		border-bottom: 1px solid #f0f0f0;
		@media only screen and(max-width: 1439px) {
			padding-bottom: 30px;
			margin-bottom: 25px;
		}
		&:nth-child(2) {
			margin: 0;
			border: 0;
			padding: 0;
		}
	}
	.wrap__label {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 25px;
	}
	.nice-select {
		display: inline-block;
		width: auto;
	}
	&__label {
		color: #737373;
		font-weight: normal;
		margin: 0 25px 0 0;
		font-size: 1em;
	}
	input {
		margin-bottom: 15px;
	}
	textarea {
		margin-bottom: 0;
	}
	.prod__forms__rating {
		padding-top: 35px;
		@media only screen and(max-width: 1439px) {
			padding-top: 30px;
			margin-bottom: 30px;
		}
		@media only screen and(max-width: 767px) {
			padding-top: 25px;
			margin-bottom: 25px;
		}
		@media only screen and(max-width: 479px) {
			.prod__forms__rating__inner {
				width: 100%;
				margin-top: 10px;
			}
		}
	}
	.product__image {
		position: relative;
		margin-bottom: 40px;
		cursor: pointer;
		@media only screen and(max-width: 767px) {
			margin: 0 auto 45px;
			width: 100%;
			max-width: 440px;
			height: 300px;
		}
		&__inner {
			background-size: 85px 68px!important;
			border: 1px solid #cccccc;
			position: relative;
			overflow: hidden;
			width: 230px;
			height: 230px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			@media only screen and(max-width: 767px) {
				width: 100%;
				height: 300px;
			}
		}
		&__subtitle {
			color: #4a4a4a;
			text-transform: uppercase;
			font-size: 0.75em;
			display: block;
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
		}
		img {
			width: initial;
			height: initial;
			max-height: 230px;
			max-width: initial;
			@media only screen and(max-width: 767px) {
				max-height: 300px;
			}
		}
	}
	.wrap__checkbox {
		padding: 5px 0 20px;
		font-weight: normal;
		margin: 0;
		cursor: pointer;
		&__inner {
			position: relative;
			display: flex;
			align-items: center;
			padding: 0 0 0 45px;
			color: #737373;
			font-size: 0.9375em;
			min-height: 32px;
			&:before {
				display: block;
				position: absolute;
				width: 32px;
				height: 32px;
				content: "";
				border: 2px solid #cdcdcd;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		input[type="checkbox"]:checked + span {
			&:after {
				display: block;
				position: absolute;
				width: 20px;
				height: 20px;
				background: #5fc900;
				content: "";
				left: 6px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__profile {
		flex-wrap: wrap;
		.wrap__label {
			margin-bottom: 15px;
		}
		&__inner {
			width: 230px;
			@media only screen and(max-width: 767px) {
				width: 100%;
				margin-bottom: 15px;
				text-align: center;
			}
			.product__image {
				margin-left: auto;
			}
		}
		.login__socio {
			flex-wrap: wrap;
			&__title {
				padding: 20px 0 15px;
				margin: 0;
				@media only screen and(max-width: 767px) {
					padding: 10px 0 15px;
				}
			}
			&__inner {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				justify-content: space-between;
				@media only screen and(max-width: 767px) {
					justify-content: center;
				}
			}
			&__item {
				width: 65px;
				height: 65px;
				margin-bottom: 15px;
				img {
					max-width: 45px;
					max-height: 45px;
				}
				&__full {
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
}